@charset "UTF-8";
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video { margin: 0; padding: 0; border: 0; vertical-align: baseline; }

body, html { height: 100%; }

img, fieldset, a img { border: none; }

input[type="submit"], button { cursor: pointer; }
input[type="submit"]::-moz-focus-inner, button::-moz-focus-inner { padding: 0; border: 0; }

textarea { overflow: auto; }

input, button { margin: 0; padding: 0; border: 0; }

div, input, textarea, select, button, h1, h2, h3, h4, h5, h6, a, span, a:focus { outline: none; }

ul, ol { list-style-type: none; }

@media only screen and (min-device-width: 320px) and (max-device-width: 480px) { * { -webkit-text-size-adjust: none; } }
table { border-spacing: 0; border-collapse: collapse; width: 100%; }

.slick-slider { position: relative; display: block; box-sizing: border-box; -moz-box-sizing: border-box; -webkit-touch-callout: none; -webkit-user-select: none; -khtml-user-select: none; -moz-user-select: none; -ms-user-select: none; user-select: none; -ms-touch-action: pan-y; touch-action: pan-y; -webkit-tap-highlight-color: transparent; }

.slick-list { position: relative; overflow: hidden; display: block; margin: 0; padding: 0; }
.slick-list:focus { outline: none; }
.slick-loading .slick-list { background: white slick-image-url("ajax-loader.gif") center center no-repeat; }
.slick-list.dragging { cursor: pointer; cursor: hand; }

.slick-slider .slick-list, .slick-track, .slick-slide, .slick-slide img { -webkit-transform: translate3d(0, 0, 0); -moz-transform: translate3d(0, 0, 0); -ms-transform: translate3d(0, 0, 0); -o-transform: translate3d(0, 0, 0); transform: translate3d(0, 0, 0); }

.slick-track { position: relative; left: 0; top: 0; display: block; zoom: 1; }
.slick-track:before, .slick-track:after { content: ""; display: table; }
.slick-track:after { clear: both; }
.slick-loading .slick-track { visibility: hidden; }

.slick-slide { float: left; height: 100%; min-height: 1px; display: none; }
.slick-slide img { display: block; max-width: 100%; }
.slick-slide.slick-loading img { display: none; }
.slick-slide.dragging img { pointer-events: none; }
.slick-initialized .slick-slide { display: block; }
.slick-loading .slick-slide { visibility: hidden; }
.slick-vertical .slick-slide { display: block; height: auto; border: 1px solid transparent; }

.slick-prev, .slick-next { position: absolute; top: 50%; margin-top: -14px; font: 0/0 a; text-shadow: none; color: transparent; height: 50px; background: none; }
.slick-prev:focus, .slick-next:focus { outline: none; }
.slick-prev.slick-disabled, .slick-next.slick-disabled { opacity: 0.2; }
.slick-prev:before, .slick-next:before { height: 50px; line-height: 50px; }

.slick-prev { left: 0; }
.slick-prev:before { content: "←"; display: inline-block; vertical-align: middle; font-size: 61px; color: #fff; }

.slick-next { right: 0; }
.slick-next:before { content: "→"; display: inline-block; vertical-align: middle; font-size: 61px; color: #fff; }

.slick-dots { text-align: center; position: absolute; margin: 0; bottom: 0; left: 0; right: 0; }
.slick-dots li { position: relative; display: inline-block; padding: 0 3px; }
.slick-dots li.slick-active button { opacity: 0.3; box-shadow: none; }
.slick-dots li:before { display: none; }
.slick-dots button { display: block; width: 6px; height: 6px; background: #fff; -moz-box-shadow: 0 1px 5px rgba(0, 0, 0, 0.25); -webkit-box-shadow: 0 1px 5px rgba(0, 0, 0, 0.25); box-shadow: 0 1px 5px rgba(0, 0, 0, 0.25); cursor: pointer; font: 0/0 a; text-shadow: none; color: transparent; border-radius: 50%; }
.slick-dots button:hover { box-shadow: none; }

@font-face { font-family: Roboto-Regular; src: url("../fonts/Roboto-Regular.eot"); src: url("../fonts/Roboto-Regular.eot?#iefix") format("embedded-opentype"), url("../fonts/Roboto-Regular.woff") format("woff"), url("../fonts/Roboto-Regular.ttf") format("truetype"); font-weight: normal; font-style: normal; }
@font-face { font-family: Roboto-Light; src: url("../fonts/Roboto-Light.eot"); src: url("../fonts/Roboto-Light.eot?#iefix") format("embedded-opentype"), url("../fonts/Roboto-Light.woff") format("woff"), url("../fonts/Roboto-Light.ttf") format("truetype"); font-weight: normal; font-style: normal; }
@font-face { font-family: Roboto-Bold; src: url("../fonts/Roboto-Bold.eot"); src: url("../fonts/Roboto-Bold.eot?#iefix") format("embedded-opentype"), url("../fonts/Roboto-Bold.woff") format("woff"), url("../fonts/Roboto-Bold.ttf") format("truetype"); font-weight: normal; font-style: normal; }
@font-face { font-family: NeoSansPro-Bold; src: url("../fonts/NeoSansPro-Bold.eot"); src: url("../fonts/NeoSansPro-Bold.eot?#iefix") format("embedded-opentype"), url("../fonts/NeoSansPro-Bold.woff") format("woff"), url("../fonts/NeoSansPro-Bold.ttf") format("truetype"); font-weight: normal; font-style: normal; }
@font-face { font-family: icon-font; src: url("../fonts/icon-font.eot"); src: url("../fonts/icon-font.eot?#iefix") format("embedded-opentype"), url("../fonts/icon-font.woff") format("woff"), url("../fonts/icon-font.ttf") format("truetype"); font-weight: normal; font-style: normal; }
body { font-family: Roboto-Light, Arial, sans-serif; font-weight: normal; font-size: 14px; line-height: 1.4; }

a { color: #ff6600; text-decoration: underline; }
a:hover { text-decoration: none; }

.is-blurred { -webkit-filter: blur(6px); filter: blur(6px); overflow: hidden; }

.no-overflow { overflow: hidden; }

.l-center { max-width: 1000px; min-width: 1000px; padding: 0 20px; margin: 0 auto; }

.l-two-col { margin-top: 30px; *zoom: 1; }
.l-two-col:after { content: " "; display: table; clear: both; }
.l-two-col .col1 { width: 61.5%; float: left; }
.l-two-col .col2 { width: 30%; float: right; }

.ico { display: inline-block; vertical-align: middle; line-height: inherit; }
.ico:before, .spinner:before, .checkbox span:after, .ticket__duration:before, .base__list li:before { font-family: "icon-font"; font-weight: normal; font-style: normal; speak: none; display: inline-block; text-decoration: inherit; width: 1em; text-align: center; font-variant: normal; text-transform: none; }
.ico_user { width: 21px; height: 21px; background-color: #ff6600; border: 1px solid #ff6600; border-radius: 50%; text-align: center; line-height: 1; overflow: hidden; }
.ico_user:before { position: relative; top: 4px; content: ""; color: #fff; font-size: 18px; }
.ico_phone:before { content: ""; }
.ico_location { font-size: 24px; }
.ico_location:before { content: ""; }
.ico_location2:before { content: ""; }
.ico_load { font-size: 20px; }
.ico_load:before { content: ""; }
.ico_calendar { font-size: 22px; }
.ico_calendar:before { content: ""; }
.ico_star:before { content: ""; }
.ico_person { font-size: 20px; }
.ico_person:before { content: ""; }
.ico_compass:before { content: ""; }
.ico_umbrela:before { content: ""; }
.ico_car-rental:before { content: ""; }
.ico_car-transfer:before { content: ""; }
.ico_prev:before { content: ""; }
.ico_next:before { content: ""; }
.ico_mail { font-size: 19px; }
.ico_mail:before { content: ""; }
.ico_plane:before { content: ""; width: auto; }
.ico_plane2:before { content: ""; width: auto; }
.ico_planes:before { content: ""; }
.ico_clock:before { content: ""; }
.ico_clock-small:before { content: ""; }
.ico_percent:before { content: ""; }
.ico_spinner:before { content: ""; }
.ico_close:before { content: ""; }
.ico_clear:before { content: ""; }
.ico_male:before { content: ""; }
.ico_female:before { content: ""; }
.ico_kid:before { content: ""; }
.ico_envelope:before { content: ""; width: auto; }

.input { display: block; position: relative; }
.input input { display: block; width: 100%; box-sizing: border-box; padding: 10px 10px 10px 40px; background: #FFF; box-shadow: none; outline: none; font-family: Roboto-Light, Arial, sans-serif; font-weight: normal; font-size: 15px; line-height: 20px; color: #081527; -moz-transition: linear 0.1s; -o-transition: linear 0.1s; -webkit-transition: linear 0.1s; transition: linear 0.1s; }
.input input:-ms-input-placeholder { color: #081527; }
.input input:-moz-placeholder { color: #081527; }
.input input::-moz-placeholder { color: #081527; }
.input input::-webkit-input-placeholder { color: #081527; }
.input input::placeholder { color: #081527; }
.input input:focus { border-color: rgba(8, 21, 39, 0.29); }
.input input:focus + .ico { opacity: 1; }
.input textarea { width: 100%; padding: 10px; box-sizing: border-box; border: 1px solid #d6eef9; background: #FFF; box-shadow: none; outline: none; font-family: Roboto-Light, Arial, sans-serif; font-weight: normal; font-size: 15px; line-height: 1.333; color: #081527; -moz-transition: linear 0.1s; -o-transition: linear 0.1s; -webkit-transition: linear 0.1s; transition: linear 0.1s; }
.input textarea:focus { border-color: rgba(8, 21, 39, 0.29); }
.input > .ico { position: absolute; top: 0; left: 0; bottom: 0; width: 40px; text-align: center; line-height: 40px; color: #ff6600; opacity: 0.7; -moz-transition: all 0.1s linear; -o-transition: all 0.1s linear; -webkit-transition: all 0.1s linear; transition: all 0.1s linear; }
.input > .ico_star { font-size: 20px; }
.input__right { position: absolute; top: 0; right: 7px; bottom: 0; line-height: 40px; color: #ff6600; }
.input__right span { display: inline-block; text-transform: uppercase; font-family: Roboto-Regular, Arial, sans-serif; font-weight: normal; }
.input__right .ico { margin-left: 5px; }
.input__arrow { position: absolute; top: 0; right: 0; bottom: 0; width: 20px; line-height: 40px; }
.input__arrow:before { content: ""; display: inline-block; vertical-align: middle; width: 0; height: 0; border: 1px solid transparent; border-width: 6px 6px 0 6px; border-top-color: #ff6600; }
.input__label { display: block; font-family: Roboto-Bold, Arial, sans-serif; font-weight: normal; font-size: 14px; line-height: 1; margin-bottom: 12px; }
.input__error-msg { display: none; margin-top: 13px; padding: 7px 10px; font-size: 14px; line-height: 20px; font-family: Roboto-Bold, Arial, sans-serif; font-weight: normal; text-transform: uppercase; color: #FFF; background: #ff6600; }
.input_ico-right input[type="text"] { padding-left: 10px; padding-right: 40px; }
.input_ico-right .ico { left: auto; right: 0; width: 35px; text-align: left; }
.input_drop input { padding-right: 20px; }
.input_simple input { padding: 10px; border: 1px solid #d6eef9; }
.input_simple.is-error input { border-color: #ff6600; outline: 1px solid #ff6600; outline-offset: 0; }
.input_multiple input { display: inline-block; width: 28.125%; }
.input_multiple input:last-child { width: 38.54167%; }
.input.is-error input { border-color: #ff6600; outline: 2px solid #ff6600; outline-offset: -1px; }
.input.is-error input:-ms-input-placeholder { color: #ff6600; }
.input.is-error input:-moz-placeholder { color: #ff6600; }
.input.is-error input::-moz-placeholder { color: #ff6600; }
.input.is-error input::-webkit-input-placeholder { color: #ff6600; }
.input.is-error input::placeholder { color: #ff6600; }
.input.is-error .input__error-msg { display: block; }

.btn { display: inline-block; min-width: 200px; height: 40px; line-height: 40px; font-size: 18px; font-family: Roboto-Bold, Arial, sans-serif; font-weight: normal; color: #FFF; text-align: center; background: #ff6600; overflow: hidden; -ms-text-overflow: ellipsis; text-overflow: ellipsis; white-space: nowrap; text-transform: uppercase; text-decoration: none; -moz-transition: all 0.1s linear; -o-transition: all 0.1s linear; -webkit-transition: all 0.1s linear; transition: all 0.1s linear; }
.btn:hover { background: #FF8432; }
.btn:disabled { background: #AC9477; }
.btn_blue { background: #E9F9FF; color: #ff6600; text-decoration: underline; border: 1px solid #cdecf9; font-family: Roboto-Light, Arial, sans-serif; font-weight: normal; text-transform: none; font-size: 18px; }
.btn_blue:hover { background: #F4FCFF; }

.title { font-family: Roboto-Light, Arial, sans-serif; font-weight: normal; font-size: 24px; line-height: 1; color: #000; text-transform: uppercase; }

.select { position: relative; padding: 0 15px 0 10px; position: relative; z-index: 1; height: 42px; box-sizing: border-box; border: 1px solid #d6eef9; line-height: 40px; font-size: 15px; cursor: pointer; -moz-user-select: -moz-none; -ms-user-select: none; -webkit-user-select: none; user-select: none; }
.select:before { content: ""; position: absolute; top: 50%; right: 5px; margin-top: -3px; width: 0; height: 0; border: 1px solid transparent; border-width: 6px 6px 0 6px; border-top-color: #ff6600; }
.select__value { display: block; overflow: hidden; -ms-text-overflow: ellipsis; text-overflow: ellipsis; white-space: nowrap; }
.select__drop { display: none; position: absolute; z-index: 10; top: 100%; left: -1px; right: -1px; overflow: hidden; background: #FFF; border: 1px solid rgba(8, 21, 39, 0.29); color: #000; font-size: 15px; line-height: 1.33; }
.select__drop a { color: #000; text-decoration: none; display: block; padding: 10px; }
.select__drop a:hover { background: #d6eef9; }
.select_check .select__drop { right: -50px; padding: 12px 25px 12px 12px; border: 1px solid rgba(8, 21, 39, 0.29); line-height: 40px; }
.select_check .checkbox { width: 100%; }

.spinner { display: block; margin: 25px auto 0; font-size: 45px; line-height: 1; color: #30abdf; text-align: center; }
.spinner:before { content: ""; }

.checkbox { display: inline-block; position: relative; -moz-user-select: -moz-none; -ms-user-select: none; -webkit-user-select: none; user-select: none; font-size: 15px; line-height: 22px; }
.checkbox input[type="checkbox"] { position: absolute; top: 0; left: 0; opacity: 0; }
.checkbox span { display: inline-block; vertical-align: middle; position: relative; padding-left: 34px; }
.checkbox span:before { content: ""; position: absolute; top: 50%; left: 0; margin-top: -11px; width: 20px; height: 20px; border: 1px solid #e6e7e9; }
.checkbox span:after { content: ""; position: absolute; top: 50%; left: 4px; margin-top: -4px; line-height: 1; color: #ff6600; font-size: 9px; opacity: 0; -moz-transform: translateY(-100%) rotate(-90deg); -ms-transform: translateY(-100%) rotate(-90deg); -webkit-transform: translateY(-100%) rotate(-90deg); transform: translateY(-100%) rotate(-90deg); -moz-transition: linear 0.2s; -o-transition: linear 0.2s; -webkit-transition: linear 0.2s; transition: linear 0.2s; }
.checkbox input[type="checkbox"]:checked + span:after { opacity: 1; -moz-transform: translateY(0) rotate(0); -ms-transform: translateY(0) rotate(0); -webkit-transform: translateY(0) rotate(0); transform: translateY(0) rotate(0); }
.checkbox img { float: right; display: inline-block; }

.radio { display: inline-block; position: relative; -moz-user-select: -moz-none; -ms-user-select: none; -webkit-user-select: none; user-select: none; }
.radio input[type="radio"] { position: absolute; top: 0; left: 0; opacity: 0; }
.radio span { display: inline-block; vertical-align: middle; font-size: 14px; position: relative; padding-left: 25px; line-height: 19px; }
.radio span:before { content: ""; position: absolute; top: 50%; left: 0; margin-top: -10px; width: 18px; height: 18px; border: 1px solid #d6eef9; border-radius: 50%; }
.radio span:after { content: ""; position: absolute; top: 50%; left: 4px; margin-top: -6px; width: 12px; height: 12px; background: #ff6600; border-radius: 50%; opacity: 0; -moz-transition: all 0.1s linear; -o-transition: all 0.1s linear; -webkit-transition: all 0.1s linear; transition: all 0.1s linear; }
.radio input[type="radio"]:checked + span:after { opacity: 1; }
.radio img { display: inline-block; vertical-align: middle; margin-left: 20px; }

.clock { display: inline-block; font-size: 0; }
.clock__tile { display: inline-block; vertical-align: middle; position: relative; margin-left: 20px; width: 45px; height: 55px; background: #ff6600; border: 2px solid #fff; border-radius: 4px; font-family: Roboto-Bold, Arial, sans-serif; font-weight: normal; font-size: 24px; line-height: 1; color: #FFF; }
.clock__tile:before { content: ":"; position: absolute; top: 10px; left: -15px; }
.clock__tile:first-child { margin-left: 0; }
.clock__tile:first-child:before { display: none; }
.clock__value { display: block; text-align: center; margin-top: 11px; }
.clock__label { position: absolute; top: 35px; left: 0; right: 0; font-family: Roboto-Regular, Arial, sans-serif; font-weight: normal; text-align: center; font-size: 14px; }

.tel { display: inline-block; font-size: 24px; font-family: Roboto-Light, Arial, sans-serif; font-weight: normal; line-height: 1.4; color: #000; text-decoration: none; }

.header { position: relative; z-index: 2; }

.header__top { height: 60px; line-height: 60px; font-size: 0; *zoom: 1; background: #FFF; }
.header__top:after { content: " "; display: table; clear: both; }

.header__nav { display: inline-block; vertical-align: middle; }
.header__nav li { display: inline-block; vertical-align: middle; margin-right: 15px; }
.header__nav li:last-child { margin-right: 0; }
.header__nav li.is-active a { color: #FFF; background: #30abdf; }
.header__nav a { display: block; padding: 0 10px; color: #30abdf; font-size: 14px; font-family: Roboto-Bold, Arial, sans-serif; font-weight: normal; text-transform: uppercase; text-decoration: none; -moz-transition: color 0.1s linear; -o-transition: color 0.1s linear; -webkit-transition: color 0.1s linear; transition: color 0.1s linear; }
.header__nav a:hover { color: #ff6600; }

.header__top-right { float: right; text-align: right; }

.header__phone { display: inline-block; vertical-align: middle; margin-right: 38px; color: #000; font-size: 14px; line-height: 1.4; text-decoration: none; }
.header__phone .ico { margin-right: 10px; font-size: 21px; }

.header__user { position: relative; display: inline-block; vertical-align: middle; padding: 0 18px; font-size: 14px; text-transform: uppercase; font-family: Roboto-Bold, Arial, sans-serif; font-weight: normal; color: #30abdf; text-decoration: none; border: 1px solid #e5f5fc; border-width: 0 1px 0; -moz-transition: all 0.1s linear; -o-transition: all 0.1s linear; -webkit-transition: all 0.1s linear; transition: all 0.1s linear; }
.header__user:hover { color: #ff6600; }
.header__user .ico { margin-right: 10px; position: relative; top: -2px; }
.header__user:after { display: none; content: ""; position: absolute; bottom: 0; left: 50%; width: 0; height: 0; margin-left: -9px; border: 1px solid transparent; border-width: 0 9px 9px 9px; border-bottom-color: #30abdf; }
.header__user.is-active:after { display: block; }

.logo { display: inline-block; vertical-align: middle; margin-right: 30px; font-size: 28px; font-family: NeoSansPro-Bold, Arial, sans-serif; font-weight: normal; line-height: 1; color: #ff6600; text-transform: uppercase; text-decoration: none; }

.search { padding: 35px 0; background: #30abdf; *zoom: 1; }
.search:after { content: " "; display: table; clear: both; }
.search .input { margin-top: 13px; }
.search .input:first-child { margin-top: 0; }
.search .btn { float: right; }

.search__col1 { float: left; width: 26%; }
.search__col1 + .search__col2 { margin-left: 10.7%; }

.search__col2 { float: left; width: 16%; margin-left: 4.8%; }

.search__error-msg { display: none; position: relative; z-index: 1; margin: -22px 0 13px; padding: 14px 42px; font-size: 16px; line-height: 20px; font-family: Roboto-Bold, Arial, sans-serif; font-weight: normal; color: #FFF; text-transform: uppercase; background-color: rgba(17, 130, 178, 0.5); background-image: linear-gradient(to top, rgba(255, 255, 255, 0.11) 0%, rgba(0, 0, 0, 0.11) 100%); border: 1px solid rgba(255, 255, 255, 0.5); box-shadow: 0 1px 2px rgba(0, 0, 0, 0.36); }
.search__error-msg:before { content: ""; position: absolute; width: 8px; height: 8px; border-radius: 50%; background: #fff; top: 50%; left: 18px; margin-top: -4px; }
.search__error-msg.is-visible { display: block; }

.search-result { margin-bottom: 23px; padding: 20px 0 20px; background: #30abdf; color: #FFF; font-size: 15px; line-height: 1.33; }
.search-result .ico { font-size: inherit; }
.search-result .ico_plane { margin: 0 7px 0 10px; }
.search-result .ico_calendar { margin: 0 5px 0 10px; position: relative; top: -1px; }
.search-result a { color: #FFF; -moz-transition: all 0.1s linear; -o-transition: all 0.1s linear; -webkit-transition: all 0.1s linear; transition: all 0.1s linear; }
.search-result a:hover { text-decoration: none; }

.search-result__from, .search-result__to { display: inline-block; }

.search-result__change { float: right; }

.footer { margin-top: 66px; padding: 50px 0; background: #30abdf url("../img/footer-back.png") no-repeat 50% 100%; }

.footer__main { margin-bottom: 65px; *zoom: 1; }
.footer__main:after { content: " "; display: table; clear: both; }

.footer__list { float: left; width: 20%; margin-left: 5%; margin-top: 7px; font-size: 14px; line-height: 1.2; }
.footer__list:first-child { margin-left: 0; }
.footer__list li { margin-top: 18px; }
.footer__list li:first-child { margin-bottom: 25px; margin-top: 0; color: #FFF; text-transform: uppercase; font-family: Roboto-Bold, Arial, sans-serif; font-weight: normal; }
.footer__list a { color: #000; -moz-transition: color 0.1s linear; -o-transition: color 0.1s linear; -webkit-transition: color 0.1s linear; transition: color 0.1s linear; }
.footer__list a:hover { color: #fff; }

.footer__payments { float: right; width: 135px; }
.footer__payments img { display: block; max-width: 100%; }

.footer__lang { float: right; margin-left: 8.3%; font-family: Roboto-Bold, Arial, sans-serif; font-weight: normal; text-transform: uppercase; font-size: 14px; line-height: 34px; }
.footer__lang a { display: inline-block; margin-left: 10px; color: rgba(255, 255, 255, 0.3); text-decoration: none; }
.footer__lang a:first-child { margin-left: 0; }
.footer__lang a.is-active { color: #fff; }
.footer__lang a.is-active:hover { color: #fff; }
.footer__lang a:hover { color: #ff6600; }

.footer__bottom { *zoom: 1; }
.footer__bottom:after { content: " "; display: table; clear: both; }

.footer__copy { float: left; width: 20%; }
.footer__copy span { font-family: Roboto-Bold, Arial, sans-serif; font-weight: normal; color: #FFF; }

.footer__phone { float: left; width: 20%; margin-left: 5%; }
.footer__phone a { color: #FFF; text-decoration: none; font-size: 20px; }

.footer__subscribe { float: left; width: 50%; margin-left: 5%; font-size: 0; white-space: nowrap; }
.footer__subscribe span { display: block; margin-bottom: 10px; font-family: Roboto-Bold, Arial, sans-serif; font-weight: normal; font-size: 14px; text-transform: uppercase; color: #FFF; line-height: 1.15; }
.footer__subscribe .input { display: inline-block; vertical-align: middle; width: 56.0%; }
.footer__subscribe .btn { min-width: 40%; margin-left: 4%; vertical-align: middle; }

.map { position: relative; height: 582px; overflow: hidden; background: #30abdf; }

.promo { margin: 55px 0; font-size: 0; *zoom: 1; text-align: justify; font-size: 0; }
.promo:after { content: " "; display: table; clear: both; }
.promo:after { content: ""; display: inline-block; width: 100%; height: 0; }

.promo__item { display: inline-block; vertical-align: middle; box-sizing: border-box; font-size: 20px; line-height: 1.2; *zoom: 1; }
.promo__item:after { content: " "; display: table; clear: both; }
.promo__item .ico { float: left; margin-right: 20px; color: #ff6600; font-size: 44px; line-height: 1; }
.promo__item .ico:before, .promo__item .spinner:before, .promo__item .checkbox span:after, .checkbox .promo__item span:after, .promo__item .ticket__duration:before, .promo__item .base__list li:before, .base__list .promo__item li:before { width: auto; }
.promo__item span { display: block; margin-left: 60px; }

.slider { margin: 66px 0; }

.slider__header { margin-bottom: 22px; *zoom: 1; }
.slider__header:after { content: " "; display: table; clear: both; }

.slider__title { float: left; font-size: 24px; font-family: Roboto-Light, Arial, sans-serif; font-weight: normal; line-height: 1; text-transform: uppercase; }

.slider__nav { float: right; line-height: 24px; }

.slider__prev, .slider__next { display: inline-block; vertical-align: bottom; cursor: pointer; margin-left: 40px; color: #ff6600; font-size: 19px; -moz-transition: all 0.1s linear; -o-transition: all 0.1s linear; -webkit-transition: all 0.1s linear; transition: all 0.1s linear; -moz-user-select: -moz-none; -ms-user-select: none; -webkit-user-select: none; user-select: none; }

.slider__wrap { overflow: hidden; margin: 0 -1px 0 0; }

.slider__main { margin-right: -12px; }
.slider__main .slick-list { padding: 1px 0 2px 1px; }

.slider__item { display: block; float: left; width: 24%; position: relative; z-index: 1; margin-right: 13px; box-shadow: 0 1px 1px rgba(9, 12, 18, 0.09); }
.slider__item:first-child { margin-left: 0; }
.slider__item:after { opacity: 0; content: ""; position: absolute; box-sizing: border-box; z-index: 2; top: 0; left: 0; right: 0; bottom: 0; border: 4px solid #30abdf; -moz-transition: all 0.1s linear; -o-transition: all 0.1s linear; -webkit-transition: all 0.1s linear; transition: all 0.1s linear; }
.slider__item:hover:after { opacity: 1; }
.slider__item:visited:after { opacity: 0.4; }

.slider__item-pic { width: 100%; height: 185px; overflow: hidden; }
.slider__item-pic img { display: block; max-width: 100%; }

.slider__item-bottom { display: block; width: 100%; height: 91px; vertical-align: middle; box-sizing: border-box; padding: 0 20px; border: 1px solid #f2f3f3; background: #FFF; line-height: 91px; }

.slider__item-text { display: inline-block; vertical-align: middle; }
.slider__item-text .name { display: block; font-family: Roboto-Bold, Arial, sans-serif; font-weight: normal; font-size: 14px; text-transform: uppercase; color: #000; line-height: 1.15; }
.slider__item-text .price { display: block; font-size: 24px; color: #30abdf; line-height: 1; }

.info-text { position: relative; box-sizing: border-box; margin: 40px 0; padding: 20px; font-size: 14px; line-height: 1.7; border: 2px dashed #b2e2f5; }
.info-text dt { display: inline; font-size: 14px; font-family: Roboto-Bold, Arial, sans-serif; font-weight: normal; color: #ff6600; text-transform: uppercase; }
.info-text dd { display: inline; }
.info-text .btn { position: absolute; right: -2px; bottom: -20px; -moz-transform: translate3d(0, 0, 0); -ms-transform: translate3d(0, 0, 0); -webkit-transform: translate3d(0, 0, 0); transform: translate3d(0, 0, 0); }
.info-text .checkbox { display: block; margin-top: 15px; -moz-transform: translate3d(0, 0, 0); -ms-transform: translate3d(0, 0, 0); -webkit-transform: translate3d(0, 0, 0); transform: translate3d(0, 0, 0); }
.info-text .checkbox:first-child { margin-top: 0; }

.wrap { *zoom: 1; }
.wrap:after { content: " "; display: table; clear: both; }

.ticket-list { position: relative; }

.ticket, .tour { float: left; width: 49%; max-width: 490px; margin-left: 2%; margin-bottom: 20px; box-sizing: border-box; border: 1px solid #e6e7e9; box-shadow: 0 1px 1px rgba(9, 12, 18, 0.09); font-size: 14px; font-family: Roboto-Regular, Arial, sans-serif; font-weight: normal; }
.ticket:first-child, .tour:first-child { margin-left: 0; }
.ticket .ico_plane, .tour .ico_plane { color: #ff6600; font-size: 18px; }
.ticket .ico_plane2, .tour .ico_plane2 { color: #30abdf; font-size: 18px; }
.ticket b, .tour b, .ticket strong, .tour strong { font-family: Roboto-Bold, Arial, sans-serif; font-weight: normal; }
.ticket .btn, .tour .btn { vertical-align: middle; min-width: 1px; padding: 0 25px; }

.ticket__label, .tour__label { display: block; font-size: 14px; line-height: 1.1; color: #777; margin-bottom: 10px; }

.ticket__time, .tour__date { display: block; font-size: 20px; line-height: 1; font-family: Roboto-Bold, Arial, sans-serif; font-weight: normal; }

.ticket__location, .tour__date-extend { display: block; margin-top: 5px; font-size: 12px; line-height: 1.33; }
.ticket__location b, .tour__date-extend b, .ticket__location strong, .tour__date-extend strong { display: block; }

.ticket__price, .tour__price { display: inline-block; vertical-align: middle; font-family: Roboto-Bold, Arial, sans-serif; font-weight: normal; font-size: 15px; text-transform: uppercase; }
.ticket__price b, .tour__price b, .ticket__price strong, .tour__price strong { font-size: 24px; text-transform: none; }
.ticket__price + .btn, .tour__price + .btn { margin-left: 37px; }

.ticket__head, .tour__head { padding: 14px 10px 13px; border-bottom: 1px solid #e6e7e9; height: 53px; box-sizing: border-box; font-size: 24px; line-height: 1; font-family: Roboto-Bold, Arial, sans-serif; font-weight: normal; color: #30abdf; text-transform: uppercase; }
.ticket__head .ico_clock, .tour__head .ico_clock { vertical-align: baseline; margin-right: 5px; font-size: 24px; position: relative; top: -1px; }
.ticket__head .ico_percent, .tour__head .ico_percent { vertical-align: baseline; margin-right: 7px; }
.ticket__head_orange { color: #ff6600; }

.ticket__row { position: relative; margin: 20px 0 0 48px; }
.ticket__row .ico { position: absolute; top: 0; right: 100%; margin-right: 10px; }
.ticket__row + .ticket__row { border-top: 1px solid #e6e7e9; margin-top: 7px; padding-top: 12px; }

.ticket__date { display: inline-block; vertical-align: bottom; width: 52.27273%; font-size: 15px; }
.ticket__date b, .ticket__date strong { text-transform: uppercase; }

.ticket__flight { display: inline-block; vertical-align: bottom; width: 47.72727%; font-size: 15px; margin-left: -4px; }

.ticket__duration { display: inline-block; vertical-align: top; width: 25%; font-size: 14px; line-height: 1.15; font-family: Roboto-Bold, Arial, sans-serif; font-weight: normal; }
.ticket__duration:before { margin-right: 4px; content: ""; font-size: 13px; color: #cccccc; }

.ticket__duration-extra { margin-top: 5px; font-size: 14px; line-height: 1.3; color: #ff6600; font-family: Roboto-Regular, Arial, sans-serif; font-weight: normal; }

.ticket__departure { display: inline-block; vertical-align: top; width: 27.27273%; margin-left: -4px; }
.ticket__departure b, .ticket__departure strong { display: block; }

.ticket__arrival { display: inline-block; vertical-align: top; width: 47.72727%; margin-left: -4px; }

.ticket__info { padding-left: 48px; margin-top: 12px; background: #e5f5fc; border-bottom: 1px solid #e6e7e9; font-size: 14px; line-height: 45px; }
.ticket__info * { vertical-align: middle; }
.ticket__info img { display: inline-block; vertical-align: middle; margin-right: 10px; }
.ticket__info em { font-style: normal; color: #777; }

.ticket__bottom, .tour__bottom { padding: 9px; line-height: 40px; text-align: right; }

.ticket_wide { float: none; width: 100%; max-width: 100%; margin: 0; position: relative; box-shadow: none; border-bottom: 2px solid #ff6600; *zoom: 1; }
.ticket_wide:after { content: " "; display: table; clear: both; }
.ticket-list .ticket_wide { border-top: none; }
.ticket-list .ticket_wide:first-child { border-top: 1px solid #e6e7e9; }
.ticket-list .ticket_wide:nth-child(odd) { background: #F4FCFF; border-color: #F4FCFF; border-bottom: 2px solid #30abdf; }
.ticket_wide .ticket__row { float: left; width: 75.3507%; box-sizing: border-box; border: 1px solid #e6e7e9; border-width: 0 1px 0 0; padding-top: 0; margin-top: 0; padding-bottom: 15px; }
.ticket_wide .ticket__row:first-child .ticket__date { border: none; }
.ticket_wide .ticket__date { display: block; width: 100%; margin-left: -48px; padding: 15px 0 0 48px; border-top: 1px solid #e6e7e9; }
.ticket_wide .ticket__duration { width: 19.94681%; }
.ticket_wide .ticket__departure { width: 24.60106%; }
.ticket_wide .ticket__arrival { width: 24.60106%; }
.ticket_wide .ticket__flight { display: inline-block; vertical-align: top; width: 14.89362%; line-height: 1.15; }
.ticket_wide .ticket__info { display: inline-block; vertical-align: top; width: 14.62766%; padding: 0; margin: 0; background: none; line-height: 1.15; border: none; }
.ticket_wide .ticket__info img { display: block; }
.ticket_wide .ticket__info * { vertical-align: baseline; }
.ticket_wide .ticket__label, .ticket_wide .tour__label { margin-bottom: 0; color: #82A2AF; }
.ticket_wide .ticket__bottom, .ticket_wide .tour__bottom { position: absolute; top: 0; right: 0; bottom: 0; width: 19.83968%; padding: 0 30px; box-sizing: border-box; text-align: center; line-height: inherit; white-space: nowrap; text-align: center; font-size: 0; }
.ticket_wide .ticket__bottom:before, .ticket_wide .tour__bottom:before { content: ""; display: inline-block; vertical-align: middle; width: 0; height: 100%; }
.ticket_wide .ticket__bottom-in { display: inline-block; vertical-align: middle; width: 100%; white-space: normal; }
.ticket_wide .ticket__price, .ticket_wide .tour__price { display: block; text-align: right; }
.ticket_wide .ticket__price b, .ticket_wide .tour__price b, .ticket_wide .ticket__price strong, .ticket_wide .tour__price strong { font-size: 40px; line-height: 40px; }
.ticket_wide .ticket__price sub, .ticket_wide .tour__price sub { display: block; text-transform: none; color: #90afbc; font-size: 14px; line-height: 1; }
.ticket_wide .ticket__return-flight { margin: 15px 0; padding: 20px 0 0 85px; position: relative; border-top: 1px solid #e6e7e9; line-height: 1; font-family: Roboto-Light, Arial, sans-serif; font-weight: normal; font-size: 34px; color: #30abdf; text-align: center; *zoom: 1; }
.ticket_wide .ticket__return-flight:after { content: " "; display: table; clear: both; }
.ticket_wide .ticket__return-flight .ticket__label, .ticket_wide .ticket__return-flight .tour__label { position: absolute; top: 23px; left: 0; width: 85px; text-align: right; }
.ticket_wide .ticket__time, .ticket_wide .tour__date { display: inline-block; vertical-align: top; margin-right: 5px; }
.ticket_wide .ticket__location, .ticket_wide .tour__date-extend { display: inline-block; vertical-align: top; margin-top: 3px; }
.ticket_wide .ico_plane, .ticket_wide .ico_plane2 { top: 50%; margin-top: -13px; }
.ticket_wide .btn { display: block; margin: auto; width: 100%; margin: 14px 0; }
.ticket_wide.ticket_buy .ticket__row { width: auto; float: none; border: none; }
.ticket_wide.ticket_buy .ticket__duration { width: 17.89474%; }
.ticket_wide.ticket_buy .ticket__departure, .ticket_wide.ticket_buy .ticket__arrival { width: 23.15789%; }
.ticket_wide.ticket_buy .ticket__flight { width: 18.94737%; }
.ticket_wide.ticket_buy .ticket__flight b, .ticket_wide.ticket_buy .ticket__flight strong { display: block; }
.ticket_wide.ticket_buy .ticket__info { width: 15.78947%; }

.sort { text-align: justify; font-size: 0; margin-bottom: 28px; }
.sort:after { content: ""; display: inline-block; width: 100%; height: 0; }
.sort .wrap-round { display: inline-block; vertical-align: middle; }
.sort .select { display: inline-block; vertical-align: middle; min-width: 172px; }

.sort__list { font-size: 0; }
.sort__list li { display: inline-block; vertical-align: middle; }
.sort__list li.is-active a { font-family: Roboto-Bold, Arial, sans-serif; font-weight: normal; color: #FFF; text-decoration: none; background: #30abdf; box-shadow: -0.3px 2px 1.5px 0.5px rgba(0, 0, 1, 0.05); cursor: default; }
.sort__list a { display: inline-block; vertical-align: middle; height: 36px; padding: 0 20px; line-height: 36px; color: #000; font-size: 14px; border-radius: 17px 17px; -moz-transition: all 0.1s linear; -o-transition: all 0.1s linear; -webkit-transition: all 0.1s linear; transition: all 0.1s linear; }
.sort__list a:hover { color: #ff6600; }
.sort__list a.is-active { font-family: Roboto-Bold, Arial, sans-serif; font-weight: normal; color: #FFF; text-decoration: none; background: #30abdf; box-shadow: -0.3px 2px 1.5px 0.5px rgba(0, 0, 1, 0.05); cursor: default; }

.head { margin-top: 50px; margin-bottom: 16px; padding-bottom: 16px; border-bottom: 1px dashed #acacac; }
.head:first-child { margin-top: 30px; }
.head .clock { display: inline-block; vertical-align: middle; }
.head__text { display: inline-block; font-family: Roboto-Regular, Arial, sans-serif; font-weight: normal; font-size: 15px; line-height: 1.1; color: #757575; }
.head__text b, .head__text strong { font-family: Roboto-Bold, Arial, sans-serif; font-weight: normal; }
.title + .head__text { margin-top: 10px; }
.head_justify .l-center { text-align: justify; font-size: 0; }
.head_justify .l-center:after { content: ""; display: inline-block; width: 100%; height: 0; }
.head_justify .title { display: inline-block; vertical-align: middle; }
.head_justify .head__text { display: inline-block; vertical-align: middle; font-size: 14px; margin: 0; line-height: 24px; }
.head_justify .head__text a { color: #ff6600; margin-left: 10px; }
.head_blue { border: none; background: #30abdf; padding: 10px 0; color: #FFF; }
.head_blue .title, .head_blue .head__text { color: inherit; }
.head_blue .title { font-family: Roboto-Bold, Arial, sans-serif; font-weight: normal; }
.head_small { margin-top: 0; border-bottom: 1px solid #e5e5e5; padding-bottom: 10px; line-height: 1.15; font-size: 14px; text-align: justify; font-size: 0; }
.head_small:after { content: ""; display: inline-block; width: 100%; height: 0; }
.head_small:first-child { margin-top: 0; }
.head_small .title { font-family: Roboto-Bold, Arial, sans-serif; font-weight: normal; font-size: 14px; display: inline-block; vertical-align: middle; }
.head_small .head__text { display: inline-block; margin: 0; vertical-align: middle; font-size: 14px; color: #8b8b8b; }

.wrap-round { border: 1px solid #d6eef9; border-radius: 20px 20px; padding: 2px; }

.popup { display: none; position: fixed; z-index: 101; top: 50%; left: 50%; background: #FFF; box-shadow: 0 19px 51px rgba(9, 12, 18, 0.27); -moz-transform: translateX(-50%) translateY(-50%); -ms-transform: translateX(-50%) translateY(-50%); -webkit-transform: translateX(-50%) translateY(-50%); transform: translateX(-50%) translateY(-50%); }
.popup.is-visible { display: block; }
.popup_return { position: absolute; top: -87px; left: 0; width: 100%; }
.popup_return .ticket:nth-child(n), .popup_return .tour:nth-child(n) { background: #FFF; border: 1px solid #e6e7e9; border-width: 1px 0 0; }
.popup_success { box-shadow: 0 33px 87px rgba(24, 62, 78, 0.33); font-size: 24px; line-height: 1.4; }
.popup_success strong { font-family: Roboto-Bold, Arial, sans-serif; font-weight: normal; }
.popup_success .popup__in { position: relative; background: #fff; padding: 50px 50px 85px; z-index: 1; }
.popup_success:before { content: ""; position: absolute; z-index: 1; top: -35px; left: -35px; width: 80px; height: 80px; background: #FFF; border-radius: 50%; box-shadow: 0 33px 87px rgba(24, 62, 78, 0.33); }
.popup_success .ico { position: absolute; top: -29px; left: -29px; width: 64px; height: 64px; border: 2px solid #ff6600; box-shadow: 0 0 0 5px #FFF; color: #ff6600; text-align: center; font-size: 28px; line-height: 64px; border-radius: 50%; background: #FFF; }
.popup_success .ico:before, .popup_success .spinner:before, .popup_success .checkbox span:after, .checkbox .popup_success span:after, .popup_success .ticket__duration:before, .popup_success .base__list li:before, .base__list .popup_success li:before { line-height: 1; width: auto; }
.popup_success .btn { position: absolute; bottom: 12px; right: 12px; }

.popup__header { padding: 32px 30px 32px 47px; text-align: justify; font-size: 0; }
.popup__header:after { content: ""; display: inline-block; width: 100%; height: 0; }
.popup__header .title { display: inline-block; vertical-align: middle; }

.popup__close { display: inline-block; vertical-align: middle; font-size: 14px; line-height: 24px; text-decoration: underline; -moz-transition: color 0.1s linear; -o-transition: color 0.1s linear; -webkit-transition: color 0.1s linear; transition: color 0.1s linear; cursor: pointer; }
.popup__close:hover { color: #ff6600; }
.popup__close .ico { margin-left: 10px; font-size: 26px; color: #30abdf; }

.overlay { display: none; position: fixed; z-index: 100; top: 0; left: 0; right: 0; bottom: 0; background: rgba(255, 255, 255, 0.56); }
.overlay.is-visible { display: block; }

.tiled-text { position: fixed; z-index: 101; top: 50%; left: 50%; margin-left: -268px; margin-top: -37px; font-size: 0; white-space: nowrap; }
.tiled-text .tile { display: inline-block; vertical-align: middle; position: relative; width: 45px; height: 75px; background: #ff6600; border-radius: 4px; margin-right: 4px; font-size: 53px; color: #FFF; text-align: center; font-family: Roboto-Light, Arial, sans-serif; font-weight: normal; line-height: 75px; text-transform: uppercase; }
.tiled-text .tile:last-child { margin-right: 0; }
.tiled-text .tile:before { content: ""; position: absolute; top: 53%; left: 0; right: 0; height: 0; border-top: 1px solid rgba(0, 0, 0, 0.1); border-bottom: 1px solid rgba(255, 255, 255, 0.2); }

.passenger { margin: 30px 0; }
.passenger + .passenger { padding-top: 35px; border-top: 1px solid #e6e7e9; }
.passenger input[type="text"], .passenger input[type="number"] { font-family: Roboto-Regular, Arial, sans-serif; font-weight: normal; }

.passenger__table { border-collapse: collapse; border-spacing: 0; font-family: Roboto-Regular, Arial, sans-serif; font-weight: normal; }
.passenger__table td { padding-top: 25px; padding-right: 15px; vertical-align: top; text-align: left; }
.passenger__table tr:first-child td { padding-top: 0; }
.passenger__table .input { min-width: 172px; }

.passenger__number { display: inline-block; width: 56px; height: 56px; margin-top: 10px; border: 2px solid #ff6600; border-radius: 50%; text-align: center; line-height: 56px; font-size: 24px; color: #ff6600; }
.passenger__number + .passenger__type { margin-top: 17px; }

.passenger__type { display: block; font-size: 14px; color: #848484; }

.passenger__date input[type="text"], .passenger__date input[type="number"] { display: inline-block; width: 28.125%; text-align: center; }
.passenger__date input[type="text"]:last-child, .passenger__date input[type="number"]:last-child { width: 38.54167%; }

.passenger__document .input__label { margin-bottom: 15px; }
.passenger__document .radio { display: block; margin-top: 5px; }

.passenger__sex { min-width: 130px; margin-top: 26px; text-align: center; }

.passenger__sex-radio-btn { display: inline-block; margin-left: 25px; position: relative; }
.passenger__sex-radio-btn:first-child { margin-left: 0; }
.passenger__sex-radio-btn input[type="radio"] { position: absolute; top: 0; left: 0; opacity: 0; }
.passenger__sex-radio-btn input[type="radio"]:checked + .ico { color: #ff6600; }
.passenger__sex-radio-btn .ico { vertical-align: bottom; color: #ccc; font-size: 38px; line-height: 1; width: auto; text-decoration: none; -moz-transition: color 0.1s linear; -o-transition: color 0.1s linear; -webkit-transition: color 0.1s linear; transition: color 0.1s linear; }
.passenger__sex-radio-btn .ico:before, .passenger__sex-radio-btn .spinner:before, .passenger__sex-radio-btn .checkbox span:after, .checkbox .passenger__sex-radio-btn span:after, .passenger__sex-radio-btn .ticket__duration:before, .passenger__sex-radio-btn .base__list li:before, .base__list .passenger__sex-radio-btn li:before { width: auto; }
.passenger__sex-radio-btn .ico_kid { font-size: 25px; }

.passenger__passport .input { display: inline-block; vertical-align: top; width: 60.46512%; min-width: 1px; }
.passenger__passport .input:first-child { width: 37.2093%; }

.passenger__clear { display: block; margin-top: 35px; text-align: center; color: #000; -moz-transition: color 0.1s linear; -o-transition: color 0.1s linear; -webkit-transition: color 0.1s linear; transition: color 0.1s linear; }
.passenger__clear:hover { color: #ff6600; }
.passenger__clear .ico { color: #ff6600; font-size: 16px; margin-right: 5px; }

.buyer { margin-top: 30px; font-size: 0; }
.buyer > div { display: inline-block; vertical-align: bottom; margin-left: 15px; }
.buyer > div:first-child { margin-left: 0; }

.buyer__name { width: 32.5%; }

.buyer__email { width: 27.5%; }

.buyer__country-code { width: 12%; }

.buyer__phone { width: 23.5%; }

.payment { font-family: Roboto-Bold, Arial, sans-serif; font-weight: normal; font-size: 15px; }
.payment .radio { font-family: Roboto-Light, Arial, sans-serif; font-weight: normal; }
.payment .radio span { padding-left: 35px; }

.payment__table td { vertical-align: middle; }
.payment__table thead td { padding: 12px 0; }
.payment__table tbody td { padding-top: 30px; padding-bottom: 30px; }
.payment__table tbody td:first-child { padding-left: 28px; }
.payment__table tbody tr { border-bottom: 2px solid #ff6600; }
.payment__table tbody tr:nth-child(odd) { background: #f4fcff; border-color: #30abdf; }

.payment__operator { font-size: 24px; color: #30abdf; text-align: center; padding: 0 40px 0 20px; }

.payment__total { font-size: 24px; }

.base { overflow: hidden; margin: 25px 0 45px 0; }

.base__container { margin: 0 -50px -40px 0; font-size: 0; }

.base__item { display: inline-block; vertical-align: top; box-sizing: border-box; width: 35%; max-width: 350px; padding-right: 5%; margin-bottom: 40px; }
.base__item .head { margin-top: 30px; }

.base__list { font-family: Roboto-Regular, Arial, sans-serif; font-weight: normal; }
.base__list li { position: relative; padding-left: 20px; font-size: 14px; line-height: 1.3; margin-top: 15px; }
.base__list li:first-child { margin-top: 0; }
.base__list li a { color: #30abdf; }
.base__list li:before { content: ""; position: absolute; top: 0; left: 0; width: auto; font-size: 16px; line-height: 1; color: #333; }

.contact-form .input_simple { display: inline-block; vertical-align: top; width: 48.78049%; margin-left: 2.43902%; }
.contact-form .input_simple:first-child { margin-left: 0; }
.contact-form .btn { margin-top: 30px; }

.contact-form__row { margin-top: 30px; font-size: 0; }
.head + .contact-form__row { margin-top: 20px; }

.captcha .input { max-width: 175px; }

.captcha__pic { display: inline-block; vertical-align: bottom; margin-left: 20px; }
.captcha__pic img { display: block; }

.contacts { margin-top: 20px; font-size: 14px; line-height: 1.37; }
.contacts .input__label { margin-bottom: 5px; margin-top: 30px; }
.contacts .input__label:first-child { margin-top: 0; }

.article { font-size: 15px; line-height: 1.6; font-family: Roboto-Regular, Arial, sans-serif; font-weight: normal; }
.article strong { font-family: Roboto-Bold, Arial, sans-serif; font-weight: normal; }
.article p { margin: 22px 0; }
.article p:first-child { margin-top: -5px; }
.article p:last-child { margin-bottom: 0; }
.article .with-icon { position: relative; padding-left: 100px; }
.article .with-icon .ico { color: #ff6600; position: absolute; top: 0; left: 0; width: 100px; text-align: center; font-size: 55px; line-height: 1; }
.article > img { float: left; margin-right: 25px; }

.navigation { font-size: 14px; font-family: Roboto-Regular, Arial, sans-serif; font-weight: normal; line-height: 20px; color: #30abdf; }
.navigation li { margin-top: -5px; }
.navigation li:first-child { margin-top: 0; }
.navigation li.is-active a { background: #30abdf; color: #fff; }
.navigation a { display: block; color: inherit; -moz-transition: all 0.1s linear; -o-transition: all 0.1s linear; -webkit-transition: all 0.1s linear; transition: all 0.1s linear; padding: 10px; }
.navigation a:hover, .navigation a .is-active { color: #FFF; background: #30abdf; }

.banner { margin: 45px 0; }
.banner:first-child { margin-top: 0; }
.banner:last-child { margin-bottom: 0; }

.tour__head_orange { color: #ff6600; }

.tour__operator { position: absolute; top: 0; right: 0; width: 75px; }
.tour__operator img { display: block; max-width: 100%; margin: auto; }

.tour__info { padding: 15px 13px; background: #edfaff; text-align: justify; font-size: 0; border: 1px solid #e6e7e9; border-width: 1px 0; }
.tour__info:after { content: ""; display: inline-block; width: 100%; height: 0; }

.tour__info-item { display: inline-block; vertical-align: top; }

.tour__date { display: inline-block; vertical-align: top; margin-right: 5px; }

.tour__date-extend { display: inline-block; vertical-align: top; }
.tour__date-extend b { text-transform: uppercase; }

.tour__nights { display: block; margin: auto; width: 30px; height: 30px; border-radius: 50%; border: 2px solid #ff6600; color: #ff6600; font-size: 20px; line-height: 30px; text-align: center; }

.tour__room { font-family: Roboto-Bold, Arial, sans-serif; font-weight: normal; text-transform: uppercase; font-size: 12px; }

.tour__food { font-family: Roboto-Bold, Arial, sans-serif; font-weight: normal; font-size: 12px; text-transform: uppercase; color: #ff6600; }
.tour__food a { color: inherit; }

.hotel { *zoom: 1; padding: 13px; box-sizing: border-box; }
.hotel:after { content: " "; display: table; clear: both; }

.hotel__pic { float: left; }
.hotel__pic img { display: block; max-width: 100%; }

.hotel__container { font-size: 0; margin-left: 110px; white-space: nowrap; }
.hotel__container:before { content: ""; display: inline-block; vertical-align: middle; width: 0; height: 100%; min-height: 95px; }

.hotel__container-in { position: relative; display: inline-block; vertical-align: middle; padding-right: 75px; white-space: normal; width: 100%; box-sizing: border-box; }

.hotel__name { display: inline-block; vertical-align: middle; font-family: Roboto-Bold, Arial, sans-serif; font-weight: normal; font-size: 20px; line-height: 1; text-transform: uppercase; margin-right: 8px; }

.hotel__rating { display: inline-block; vertical-align: middle; font-size: 12px; color: #ff6600; }
.hotel__rating .ico_star { margin-right: 2px; }

.hotel__location { display: block; margin-top: 15px; color: #777; font-size: 14px; line-height: 1.15; }
.hotel__location .ico { margin: 0 4px 0 8px; }
.hotel__location a { display: inline-block; }
