//------------------------------------------------------------------------------
//
//    #icons
//
//------------------------------------------------------------------------------

// use svg files (font "icon-font")
.ico
  display: inline-block
  vertical-align: middle
  line-height: inherit
  &:before
    +icon-font
    speak: none
    display: inline-block
    text-decoration: inherit
    width: 1em
    text-align: center
    font-variant: normal
    text-transform: none
  &_phone
    &:before
      content: '\e806'
  &_location
    font-size: 24px
    &:before
      content: '\e805'
  &_load
    font-size: 20px
    &:before
      content: '\e80b'
  &_calendar
    font-size: 22px
    &:before
      content: '\e802'
  &_star
    font-size: 20px
    &:before
      content: '\e80d'
  &_person
    font-size: 20px
    &:before
      content: '\e80c'
  &_compass
    &:before
      content: '\e809'
  &_umbrela
    &:before
      content: '\e80a'
  &_car-rental
    &:before
      content: '\e803'
  &_car-transfer
    &:before
      content: '\e804'
  &_prev
    &:before
      content: '\e800'
  &_next
    &:before
      content: '\e801'
  &_mail
    font-size: 19px
    &:before
      content: '\e80e'
  &_plane
    &:before
      content: '\e807'
      width: auto
  &_plane2
    &:before
      content: '\e812'
      width: auto
  &_clock
    &:before
      content: '\e80F'
  &_clock-small
    &:before
      content: '\e8010'
  &_percent
    &:before
      content: '\e811'

// use png files (sprite)
.icon
  display: inline-block
  vertical-align: middle
  position: relative
  &_user
    +s(user)





//------------------------------------------------------------------------------
//
//    #blocks
//
//------------------------------------------------------------------------------

.input
  display: block
  position: relative
  input
    display: block
    width: 100%
    box-sizing: border-box
    padding: 10px 10px 10px 40px
    background: #FFF
    box-shadow: none
    outline: none
    +roboto-l
    font-size: 15px
    line-height: 20px
    color: #081527
    +placeholder
      color: #081527
    &:focus
      box-shadow: 0 0 0 1px rgba(8, 21, 39, 0.29)
      + .ico
        opacity: 1
  & > .ico
    position: absolute
    top: 0
    left: 0
    bottom: 0
    width: 40px
    text-align: center
    line-height: 40px
    color: $orange
    opacity: 0.7
  &__right
    position: absolute
    top: 0
    right: 7px
    bottom: 0
    line-height: 40px
    color: $orange
    span
      display: inline-block
      text-transform: uppercase
      +roboto
    .ico
      margin-left: 5px
  &__arrow
    position: absolute
    top: 0
    right: 0
    bottom: 0
    width: 20px
    line-height: 40px
    &:before
      content: ""
      display: inline-block
      vertical-align: middle
      width: 0
      height: 0
      border: 1px solid transparent
      border-width: 6px 6px 0 6px
      border-top-color: $orange
  &_ico-right
    input
      padding-left: 10px
      padding-right: 40px
    .ico
      left: auto
      right: 0
      width: 35px
      text-align: left
  &_drop
    input
      padding-right: 20px


.btn
  display: inline-block
  min-width: 200px
  height: 40px
  line-height: 40px
  font-size: 18px
  +roboto-b
  color: #FFF
  text-align: center
  background: $orange
  +text-overflow
  text-transform: uppercase
  text-decoration: none
  +tr
  &:hover
    background: #FF8432
  &:disabled
    background: #AC9477
  &_blue
    background: #E9F9FF
    color: $orange
    text-decoration: underline
    border: 1px solid #cdecf9
    +roboto-l
    text-transform: none
    font-size: 18px
    &:hover
      background: #F4FCFF


.head
  margin-top: 50px
  margin-bottom: 16px
  padding-bottom: 16px
  border-bottom: 1px dashed #acacac
  &:first-child
    margin-top: 0


.title
  +roboto-l
  font-size: 24px
  line-height: 1
  color: $text
  text-transform: uppercase


.select
  position: relative
  padding: 0 15px 0 10px
  position: relative
  z-index: 1
  width: 172px
  height: 42px
  box-sizing: border-box
  border: 1px solid $blue-border
  line-height: 40px
  font-size: 15px
  cursor: pointer
  +user-select(none)
  &:before
    content: ""
    position: absolute
    top: 50%
    right: 5px
    margin-top: -3px
    width: 0
    height: 0
    border: 1px solid transparent
    border-width: 6px 6px 0 6px
    border-top-color: $orange
  // &:hover
  //   outline: 1px solid rgba(8, 21, 39, 0.29)
  &__value
    display: block
    +text-overflow
  &__drop
    display: none
    position: absolute
    z-index: 10
    top: 100%
    left: 0
    width: 100%
    overflow: hidden
    background: #FFF
    border-top: 1px solid $blue-border
    color: $text
    font-size: 15px
    line-height: 1.33
    a
      color: $text
      text-decoration: none
      display: block
      padding: 10px
      &:hover
        background: $blue-border
  // &.is-drop-down
  //   .select__drop
  //     height: auto



