.map
  position: relative
  height: 582px
  overflow: hidden
  background: $blue
  // &:before,
  // &:after
  //   content: ""
  //   position: absolute
  //   z-index: 2
  //   height: 0
  //   width: 100%
  //   border-top: 1px dashed #acacac
  // &:before
  //   top: 0
  // &:after
  //   bottom: 0


.promo
  margin: 55px 0
  font-size: 0
  +clr
  +justify

.promo__item
  display: inline-block
  vertical-align: middle
  box-sizing: border-box
  font-size: 20px
  line-height: 1.2
  +clr
  .ico
    float: left
    margin-right: 20px
    color: $orange
    font-size: 44px
    line-height: 1
    &:before
      width: auto
  span
    display: block
    margin-left: 60px


.slider
  margin: 66px 0

.slider__header
  margin-bottom: 22px
  +clr

.slider__title
  float: left
  font-size: 24px
  +roboto-l
  line-height: 1
  text-transform: uppercase

.slider__nav
  float: right
  line-height: 24px
  // .ico
  //   color: $orange
  //   font-size: 19px
  //   +tr
  //   &:hover

.slider__prev,
.slider__next
  display: inline-block
  vertical-align: bottom
  cursor: pointer
  margin-left: 40px
  color: $orange
  font-size: 19px
  +tr
  +user-select(none)

.slider__wrap
  overflow: hidden
  margin: 0 -1px 0 0

.slider__main
  margin-right: -12px
  .slick-list
    padding: 1px 0 2px 1px

.slider__item
  display: block
  float: left
  width: percentage(240/1000)
  position: relative
  z-index: 1
  margin-right: 13px
  box-shadow: 0 1px 1px rgba(9, 12, 18, 0.09)
  &:first-child
    margin-left: 0
  &:after
    opacity: 0
    content: ""
    position: absolute
    box-sizing: border-box
    z-index: 2
    top: 0
    left: 0
    right: 0
    bottom: 0
    border: 4px solid $blue
    +tr
  &:hover
    &:after
      opacity: 1
  &:visited
    &:after
      opacity: 0.4

.slider__item-pic
  width: 100%
  height: 185px
  overflow: hidden
  img
    display: block
    max-width: 100%

.slider__item-bottom
  display: block
  width: 100%
  height: 91px
  vertical-align: middle
  box-sizing: border-box
  padding: 0 20px
  border: 1px solid #f2f3f3
  background: #FFF
  line-height: 91px

.slider__item-text
  display: inline-block
  vertical-align: middle
  .name
    display: block
    +roboto-b
    font-size: 14px
    text-transform: uppercase
    color: $text
    line-height: 1.15
  .price
    display: block
    font-size: 24px
    color: $blue
    line-height: 1


.info-text
  position: relative
  box-sizing: border-box
  margin: 40px 0
  padding: 20px
  font-size: 14px
  line-height: 1.7
  border: 2px dashed #b2e2f5
  dt
    display: inline
    font-size: 14px
    +roboto-b
    color: $orange
    text-transform: uppercase
  dd
    display: inline
  .btn
    position: absolute
    right: -2px
    bottom: -20px
    +gpu
  .checkbox
    display: block
    margin-top: 15px
    +gpu
    &:first-child
      margin-top: 0

.wrap
  +clr

.ticket-list
  position: relative

.ticket
  position: relative
  float: left
  width: percentage(490/1000)
  max-width: 490px
  margin-left: percentage(20/1000)
  // margin-bottom: 20px
  box-sizing: border-box
  border: 1px solid $border
  box-shadow: 0 1px 1px rgba(9, 12, 18, 0.09)
  font-size: 14px
  +roboto
  &:first-child
    margin-left: 0
  .ico_plane
    color: $orange
    font-size: 18px
  .ico_plane2
    color: $blue
    font-size: 18px
  b, strong
    +roboto-b
  .btn
    vertical-align: middle
    min-width: 1px
    padding: 0 25px

.ticket__download
  position: absolute
  top: 12px
  right: 12px
  text-transform: uppercase
  color: $orange
  font-size: 15px
  +roboto-b
  .ico
    font-size: 24px
    margin-right: 5px
    position: relative
    top: -2px

.ticket__label
  display: block
  font-size: 14px
  line-height: 1.1
  color: #777
  margin-bottom: 10px

.ticket__time
  display: block
  font-size: 20px
  line-height: 1
  +roboto-b

.ticket__location
  display: block
  margin-top: 5px
  font-size: 12px
  line-height: 1.33
  b, strong
    display: block

.ticket__price
  display: inline-block
  vertical-align: middle
  +roboto-b
  font-size: 15px
  text-transform: uppercase
  b, strong
    font-size: 24px
    text-transform: none
  + .btn
    margin-left: 37px

.ticket__head
  padding: 14px 10px 13px
  border-bottom: 1px solid $border
  height: 53px
  box-sizing: border-box
  font-size: 24px
  line-height: 1
  +roboto-b
  color: $blue
  text-transform: uppercase
  .ico_clock
    vertical-align: baseline
    margin-right: 5px
    font-size: 24px
    position: relative
    top: -1px
  .ico_percent
    vertical-align: baseline
    margin-right: 7px
  &_orange
    color: $orange

.ticket__row
  position: relative
  margin: 20px 0 0 48px
  // font-size: 0
  .ico
    position: absolute
    top: 0
    right: 100%
    margin-right: 10px
  & + &
    border-top: 1px solid $border
    margin-top: 7px
    padding-top: 12px

.ticket__date
  display: inline-block
  vertical-align: bottom
  width: percentage(230/440)
  font-size: 15px
  b, strong
    text-transform: uppercase

.ticket__flight
  display: inline-block
  vertical-align: bottom
  width: percentage(210/440)
  font-size: 15px
  margin-left: -4px

.ticket__duration
  display: inline-block
  vertical-align: top
  width: percentage(110/440)
  font-size: 14px
  line-height: 1.15
  +roboto-b
  &:before
    @extend .ico:before
    margin-right: 4px
    content: '\e810'
    font-size: 13px
    color: #cccccc

.ticket__duration-extra
  margin-top: 5px
  font-size: 14px
  line-height: 1.3
  color: $orange
  +roboto

.ticket__departure
  display: inline-block
  vertical-align: top
  width: percentage(120/440)
  margin-left: -4px
  b, strong
    display: block

.ticket__arrival
  display: inline-block
  vertical-align: top
  width: percentage(210/440)
  margin-left: -4px

.ticket__info
  // padding: 15px 0 15px 48px
  padding-left: 48px
  margin-top: 12px
  background: $lightblue
  border-bottom: 1px solid $border
  font-size: 14px
  // line-height: 1.15
  line-height: 45px
  *
    vertical-align: middle
  img
    display: inline-block
    vertical-align: middle
    margin-right: 10px
  em
    font-style: normal
    color: #777

.ticket__bottom
  padding: 9px
  line-height: 40px
  text-align: right

.ticket_wide
  float: none
  width: 100%
  max-width: 100%
  margin: 0
  position: relative
  box-shadow: none
  border-bottom: 2px solid $orange
  +clr
  .ticket-list &
    border-top: none
    &:first-child
      border-top: 1px solid $border
    &:nth-child(odd)
      background: #F4FCFF
      border-color: #F4FCFF
      border-bottom: 2px solid $blue

  .ticket__row
    float: left
    width: percentage(752/998) // 48px margin-left
    box-sizing: border-box
    border: 1px solid $border
    border-width: 0 1px 0 0
    padding-top: 0
    margin-top: 0
    padding-bottom: 15px
    &:first-child
      .ticket__date
        border: none

  .ticket__date
    display: block
    width: 100%
    margin-left: -48px
    padding: 15px 0 0 48px
    border-top: 1px solid $border

  .ticket__duration
    width: percentage(150/752)

  .ticket__departure
    width: percentage(185/752)

  .ticket__arrival
    width: percentage(185/752)

  .ticket__flight
    display: inline-block
    vertical-align: top
    width: percentage(112/752)
    line-height: 1.15

  .ticket__info
    display: inline-block
    vertical-align: top
    width: percentage(110/752)
    padding: 0
    margin: 0
    background: none
    line-height: 1.15
    border: none
    img
      display: block
    *
      vertical-align: baseline

  .ticket__label
    margin-bottom: 0
    color: #82A2AF

  .ticket__bottom
    position: absolute
    top: 0
    right: 0
    bottom: 0
    width: percentage(198/998)
    padding: 0 30px
    box-sizing: border-box
    text-align: center
    line-height: inherit
    white-space: nowrap
    +vertical

  .ticket__bottom-in
    display: inline-block
    vertical-align: middle
    width: 100%
    white-space: normal

  .ticket__price
    display: block
    text-align: right
    b, strong
      font-size: 40px
      line-height: 40px
    sub
      display: block
      text-transform: none
      color: #90afbc
      font-size: 14px
      line-height: 1

  .ticket__return-flight
    margin: 15px 0
    padding: 20px 0 0 85px
    position: relative
    border-top: 1px solid $border
    line-height: 1
    +roboto-l
    font-size: 34px
    color: $blue
    text-align: center
    +clr
    &-num
    .ticket__label
      position: absolute
      top: 23px
      left: 0
      width: 85px
      text-align: right

  .ticket__time
    display: inline-block
    vertical-align: top
    margin-right: 5px

  .ticket__location
    display: inline-block
    vertical-align: top
    margin-top: 3px

  .ico_plane, .ico_plane2
    top: 50%
    margin-top: -13px

  .btn
    display: block
    margin: auto
    width: 100%
    margin: 14px 0 0

  .btn_blue
    margin: 14px 0

  &.ticket_buy
    .ticket__row
      width: auto
      float: none
      border: none
    .ticket__duration
      width: percentage(170/950)
    .ticket__departure,
    .ticket__arrival
      width: percentage(220/950)
    .ticket__flight
      width: percentage(180/950)
      b, strong
        display: block
    .ticket__info
      width: percentage(150/950)

.ticket-area
  + .head_small
    margin-top: 40px

.ticket_simple
  width: 100%
  float: none
  padding: 20px 0
  max-width: none
  margin: 0
  box-shadow: none
  & + &
    border-top: none
  &:last-child
    border-bottom: 2px solid $orange

  .ticket__row
    float: none
    width: auto
    border: none
    margin-bottom: 20px
    margin-top: 20px
    padding-top: 0
    font-size: 0
    &:first-child
      margin-top: 0
    &:last-child
      margin-bottom: 0

  .ticket__date
    display: block
    width: auto
    em
      font-style: normal
      color: $orange

  .ticket__item
    display: inline-block
    vertical-align: top
    width: 33.33%
    margin: 0

  .ticket__time
    display: inline-block
    vertical-align: top
    margin-right: 5px

  .ticket__location
    display: inline-block
    vertical-align: top
    margin-top: 2px

  .ticket__flight
    line-height: 1.1
    b
      display: block

  .ticket__label
    margin-bottom: 2px

  .ticket__info
    display: inline-block
    vertical-align: top
    padding: 0
    margin: 0
    background: none
    line-height: 1.15
    border: none
    img, b, em
      display: block
    *
      vertical-align: baseline


.sort
  +justify
  margin-bottom: 28px
  .wrap-round
    display: inline-block
    vertical-align: middle
  .select
    display: inline-block
    vertical-align: middle
    min-width: 172px
  &_select
    text-align: left
    &:after
      display: none
    .select + .select
      margin-left: 15px

.sort__list
  font-size: 0
  li
    display: inline-block
    vertical-align: middle
    &.is-active
      a
        +roboto-b
        color: #FFF
        text-decoration: none
        background: $blue
        box-shadow: -0.3px 2px 1.5px 0.5px rgba(0, 0, 1, 0.05)
        cursor: default
  a
    display: inline-block
    vertical-align: middle
    height: 36px
    padding: 0 20px
    line-height: 36px
    color: $text
    font-size: 14px
    border-radius: 17px 17px
    +tr
    &:hover
      color: $orange
    &.is-active
      +roboto-b
      color: #FFF
      text-decoration: none
      background: $blue
      box-shadow: -0.3px 2px 1.5px 0.5px rgba(0, 0, 1, 0.05)
      cursor: default

.head
  margin-top: 50px
  margin-bottom: 16px
  padding-bottom: 16px
  border-bottom: 1px dashed #acacac
  &:first-child
    margin-top: 30px
  .search + &
    margin-top: 30px
  &__text
    display: inline-block
    +roboto
    font-size: 15px
    line-height: 1.1
    color: #757575
    b, strong
      +roboto-b
    .title + &
      margin-top: 10px
  &_justify
    .l-center
      +justify
    .title
      display: inline-block
      vertical-align: middle
    .head__text
      display: inline-block
      vertical-align: middle
      font-size: 14px
      margin: 0
      line-height: 24px
      a
        color: $orange
        margin-left: 10px
  &_blue
    border: none
    background: $blue
    padding: 10px 0
    color: #FFF
    .title, .head__text
      color: inherit
    .title
      +roboto-b
  &_small
    margin-top: 0
    border-bottom: 1px solid #e5e5e5
    padding-bottom: 10px
    line-height: 1.15
    font-size: 14px
    +justify
    &:first-child
      margin-top: 0
    .title
      +roboto-b
      font-size: 14px
      display: inline-block
      vertical-align: middle
    .head__text
      display: inline-block
      margin: 0
      vertical-align: middle
      font-size: 14px
      color: #8b8b8b
  .clock
    display: inline-block
    vertical-align: middle
  .hotel
    display: inline-block
    vertical-align: middle
    padding: 0
  .hotel__name
    +roboto-l
    font-size: 24px
  .hotel__location
    margin-top: 5px
    +roboto
  .btn
    display: inline-block
    vertical-align: middle


.wrap-round
  border: 1px solid $blue-border
  border-radius: 20px 20px
  padding: 2px


.popup
  display: none
  position: fixed
  z-index: 101
  top: 0
  left: 0
  right: 0
  bottom: 0
  background: rgba(255,255,255,0.56)
  white-space: nowrap
  +vertical

  &_wide
    .popup__in
      width: 1000px
    .ticket
      &:nth-child(n)
        background: #FFF
        border: 1px solid $border
        border-width: 0 0 1px
    .hotel
      padding: 25px 30px 25px 45px
      width: 100%
      // border-top: 1px solid $border
    .tour__row
      padding: 50px 40px 50px 45px
      box-sizing: border-box
      .tour__info
        display: block
        width: 100%
        padding: 0

  &_success
    font-size: 24px
    line-height: 1.4
    strong
      +roboto-b
    .popup__container
      position: relative
      background: #fff
      padding: 50px 50px 85px
      z-index: 1
      box-shadow: 0 33px 87px rgba(24, 62, 78, 0.33)
    .popup__in
      width: 600px
      &:before
        content: ""
        position: absolute
        z-index: 1
        top: -35px
        left: -35px
        width: 80px
        height: 80px
        background: #FFF
        border-radius: 50%
        box-shadow: 0 33px 87px rgba(24, 62, 78, 0.33)
    .ico
      position: absolute
      top: -29px
      left: -29px
      width: 64px
      height: 64px
      border: 2px solid $orange
      box-shadow: 0 0 0 5px #FFF
      color: $orange
      text-align: center
      font-size: 28px
      line-height: 64px
      border-radius: 50%
      background: #FFF
      &:before
        line-height: 1
        width: auto
    .btn
      position: absolute
      bottom: 12px
      right: 12px

.popup__in
  opacity: 0
  display: inline-block
  vertical-align: middle
  background: #FFF
  box-shadow: 0 19px 51px rgba(9, 12, 18, 0.27)
  text-align: left
  position: relative
  +transition(opacity 0.2s linear)
  white-space: normal
  // +transform(translateX(-50%) translateY(-50%))
  &.is-visible
    opacity: 1

.popup__header
  padding: 32px 30px 32px 47px
  border-bottom: 1px solid $border
  +justify
  .title
    display: inline-block
    vertical-align: middle
  +rh(750)
    padding-top: 15px
    padding-bottom: 15px


.popup__close
  display: inline-block
  vertical-align: middle
  font-size: 14px
  line-height: 24px
  text-decoration: underline
  +tr-color
  cursor: pointer
  &:hover
    color: $orange
  .ico
    margin-left: 10px
    font-size: 26px
    color: $blue


.overlay
  display: none
  position: fixed
  z-index: 100
  top: 0
  left: 0
  right: 0
  bottom: 0
  background: rgba(255,255,255,0.56)
  &.is-visible
    display: block


.tiled-text
  position: fixed
  z-index: 101
  top: 50%
  left: 50%
  margin-left: -268px
  margin-top: -37px
  font-size: 0
  white-space: nowrap
  .tile
    display: inline-block
    vertical-align: middle
    position: relative
    width: 45px
    height: 75px
    background: $orange
    border-radius: 4px
    margin-right: 4px
    font-size: 53px
    color: #FFF
    text-align: center
    +roboto-l
    line-height: 75px
    text-transform: uppercase
    &:last-child
      margin-right: 0
    &:before
      content: ""
      position: absolute
      top: 53%
      left: 0
      right: 0
      height: 0
      border-top: 1px solid rgba(0,0,0,0.1)
      border-bottom: 1px solid rgba(255,255,255,0.2)


.passenger
  margin: 30px 0
  & + &
    padding-top: 35px
    border-top: 1px solid $border
  input[type="text"], input[type="number"]
    +roboto

.passenger__table
  border-collapse: collapse
  border-spacing: 0
  +roboto
  td
    padding-top: 25px
    padding-right: 15px
    vertical-align: top
    text-align: left
  tr:first-child
    td
      padding-top: 0
  .input
    min-width: 172px

.passenger__number
  display: inline-block
  width: 56px
  height: 56px
  margin-top: 10px
  border: 2px solid $orange
  border-radius: 50%
  text-align: center
  line-height: 56px
  font-size: 24px
  color: $orange
  & + .passenger__type
    margin-top: 17px

.passenger__type
  display: block
  font-size: 14px
  color: #848484

.passenger__date
  input[type="text"], input[type="number"]
    display: inline-block
    width: percentage(54/192)
    text-align: center
    &:last-child
      width: percentage(74/192)

.passenger__document
  .input__label
    margin-bottom: 15px
  .radio
    display: block
    margin-top: 5px

.passenger__passport
  .input
    display: inline-block
    vertical-align: top
    width: percentage(104/172)
    min-width: 1px
    &:first-child
      width: percentage(64/172)

.passenger__clear
  display: block
  margin-top: 35px
  text-align: center
  color: $text
  +tr-color
  &:hover
    color: $orange
  .ico
    color: $orange
    font-size: 16px
    margin-right: 5px

.select-sex
  min-width: 130px
  margin-top: 26px
  text-align: center
  +user-select(none)

.select-sex__radio-btn
  display: inline-block
  margin-left: 25px
  position: relative
  &:first-child
    margin-left: 0
  input[type="radio"]
    position: absolute
    top: 0
    left: 0
    opacity: 0
    &:checked + .ico
      color: $orange
  .ico
    vertical-align: bottom
    color: #ccc
    font-size: 38px
    line-height: 1
    width: auto
    text-decoration: none
    +transition(color 0.1s linear)
    &:before
      width: auto
  .ico_kid
    font-size: 25px


.contact-data
  margin-top: 30px
  font-size: 0
  & > div
    display: inline-block
    vertical-align: bottom
    margin-left: 15px
    &:first-child
      margin-left: 0

.contact-data__name
  width: percentage(325/1000)

.contact-data__email
  width: percentage(275/1000)

.contact-data__country-code
  width: percentage(120/1000)

.contact-data__phone
  width: percentage(235/1000)

.payment
  +roboto-b
  font-size: 15px
  .radio
    +roboto-l
    span
      padding-left: 35px

.payment__table
  td
    vertical-align: middle
  thead
    td
      padding: 12px 0
  tbody
    td
      padding-top: 30px
      padding-bottom: 30px
      &:first-child
        padding-left: 28px
    tr
      border-bottom: 2px solid $orange
      &:nth-child(odd)
        background: #f4fcff
        border-color: $blue

.payment__operator
  font-size: 24px
  color: $blue
  text-align: center
  padding: 0 40px 0 20px

.payment__total
  font-size: 24px

.base
  overflow: hidden
  margin: 25px 0 45px 0

.base__container
  margin: 0 -50px -40px 0
  font-size: 0

.base__item
  display: inline-block
  vertical-align: top
  box-sizing: border-box
  width: percentage(350/1000)
  max-width: 350px
  padding-right: percentage(50/1000)
  margin-bottom: 40px
  .head
    margin-top: 30px


.base__list
  +roboto
  li
    position: relative
    padding-left: 20px
    font-size: 14px
    line-height: 1.3
    margin-top: 15px
    &:first-child
      margin-top: 0
    a
      color: $blue
    &:before
      @extend .ico:before
      content: '\e81a'
      position: absolute
      top: 0
      left: 0
      width: auto
      font-size: 16px
      line-height: 1
      color: #333


.contact-form
  .input_simple
    display: inline-block
    vertical-align: top
    width: percentage(300/615)
    margin-left: percentage(15/615)
    &:first-child
      margin-left: 0
  .btn
    margin-top: 30px

.contact-form__row
  margin-top: 30px
  font-size: 0
  .head + &
    margin-top: 20px


.captcha
  .input
    max-width: 175px

.captcha__pic
  display: inline-block
  vertical-align: bottom
  margin-left: 20px
  img
    display: block


.contacts
  margin-top: 20px
  font-size: 14px
  line-height: 1.37
  .input__label
    margin-bottom: 5px
    margin-top: 30px
    &:first-child
      margin-top: 0


.article
  font-size: 15px
  line-height: 1.6
  +roboto
  strong
    +roboto-b
  p
    margin: 25px 0
    &:first-child
      margin-top: -5px
    &:last-child
      margin-bottom: 0
  .with-icon
    position: relative
    padding-left: 100px
    margin: 40px 0
    .ico
      color: $orange
      position: absolute
      top: 0
      left: 0
      width: 100px
      text-align: center
      font-size: 55px
      line-height: 1
  & > img
    float: left
    margin-right: 25px
  .l-center > &
    margin-top: 40px


.navigation
  font-size: 14px
  +roboto
  line-height: 20px
  color: $blue
  li
    margin-top: -5px
    &:first-child
      margin-top: 0
    &.is-active
      a
        background: $blue
        color: #fff
  a
    display: block
    color: inherit
    +tr
    padding: 10px
    &:hover, .is-active
      color: #FFF
      background: $blue

.banner
  margin: 45px 0
  &:first-child
    margin-top: 0
  &:last-child
    margin-bottom: 0


.tour
  @extend .ticket

.tour__head
  @extend .ticket__head
  &_orange
    color: $orange

.tour__bottom
  @extend .ticket__bottom

.tour__bottom-in
  @extend .ticket__bottom-in

.tour__price
  @extend .ticket__price

.tour__info
  padding: 15px 13px
  background: #edfaff
  +justify
  border: 1px solid $border
  border-width: 1px 0

.tour__info-item
  display: inline-block
  vertical-align: top
  font-size: 12px
  +roboto
  img
    display: block
    margin: auto
    max-width: 85px
  b
    +roboto-b
    display: block
    text-transform: uppercase

.tour__label
  @extend .ticket__label

.tour__date
  @extend .ticket__time
  display: inline-block
  vertical-align: top
  margin-right: 5px

.tour__date-extend
  @extend .ticket__location
  display: inline-block
  vertical-align: top
  margin-top: 6px
  b
    text-transform: uppercase

.tour__nights
  display: block
  margin: auto
  width: 30px
  height: 30px
  border-radius: 50%
  border: 2px solid $orange
  color: $orange
  font-size: 20px
  line-height: 30px
  text-align: center

.tour__room
  // +roboto-b
  // text-transform: uppercase
  // font-size: 12px

.tour__food
  +roboto-b
  font-size: 12px
  text-transform: uppercase
  // color: $orange
  // a
  //   color: inherit


.hotel
  +clr
  padding: 13px
  box-sizing: border-box

.hotel__pic
  float: left
  width: 95px
  height: 95px
  overflow: hidden
  img
    display: block
    max-width: 100%

.hotel__container
  font-size: 0
  margin-left: 110px
  white-space: nowrap
  &:before
    content: ""
    display: inline-block
    vertical-align: middle
    width: 0
    height: 100%
    min-height: 95px

.hotel__container-in
  position: relative
  display: inline-block
  vertical-align: middle
  padding-right: 75px
  white-space: normal
  width: 100%
  box-sizing: border-box

.hotel__name
  display: inline-block
  vertical-align: middle
  +roboto-b
  font-size: 20px
  line-height: 1
  text-transform: uppercase
  margin-right: 8px

.hotel__rating
  display: inline-block
  vertical-align: middle
  font-size: 12px
  color: $orange
  .ico_star
    margin-right: 2px

.hotel__location
  display: block
  margin-top: 15px
  color: #777
  font-size: 14px
  line-height: 1.15
  .ico
    margin: 0 4px 0 8px
    position: relative
    top: -1px
  a
    display: inline-block
    // color: $orange

.hotel__operator
  position: absolute
  top: 0
  right: 0
  width: 75px
  img
    display: block
    max-width: 100%
    margin: auto


.tour_wide
  @extend .ticket_wide

  .tour__row
    float: left
    width: percentage(801/1000)
    border-right: 1px solid $border
    font-size: 0

  .hotel
    display: inline-block
    vertical-align: middle
    width: percentage(430/800)

  .hotel__container-in
    padding-right: 0

  .tour__info
    display: inline-block
    vertical-align: middle
    width: percentage(370/800)
    border: none
    background: none
    box-sizing: border-box
    padding: 0 30px 0 0

  .tour__date-extend
    margin-top: 6px

  .tour__label
    margin-bottom: 3px
    color: #777

  .tour__option-table
    font-size: 16px
    td
      padding: 18px
      border: 1px solid $border
      border-width: 1px 0 0 1px
      vertical-align: middle
      &:first-child
        border-left: none
        width: percentage(285/800)
      &:last-child
        width: percentage(245/800)
        // text-align: center
        vertical-align: top
        // padding-top: 25px
        // padding-bottom: 60px
        padding: 25px 30px 60px
        +justify

  .tour__option
    display: block
    margin-top: 15px
    padding: 5px 0 5px 48px
    position: relative
    font-size: 16px
    line-height: 20px
    text-transform: uppercase
    +clr
    &:first-child
      margin-top: 0
    .ico
      position: absolute
      top: 0
      left: 0
      bottom: 0
      height: auto
      width: 48px
      text-align: center
      font-size: 30px
      line-height: 30px
      color: $blue
    .ico_bed
      font-size: 21px
      color: $orange
    .ico_forks
      color: $orange
      font-size: 34px

  .tour__option-cleen
    display: inline-block
    vertical-align: top
    // margin-right: percentage(45/200)
    position: relative
    &:last-child
      margin-right: 0
    & > .ico
      color: $blue
      font-size: 25px
      line-height: 1
    .ico_plane, .ico_plane2
      position: static
      margin: 0

  .tour__option-status
    position: absolute
    top: 57px
    left: 50%
    +transform(translateX(-50%) translateY(-50%))
    line-height: 1
    span
      display: inline-block
      +roboto-b
      font-size: 12px
      line-height: 1.3
      text-transform: uppercase
      color: $orange
      text-align: center

  .tour__number
    @extend .ticket__return-flight
    color: $orange
    border: none
    padding-top: 0
    +roboto
    .tour__label
      top: 3px
      font-size: 12px
      line-height: 1.3

  .btn_blue
    margin: 14px 0 0

  &.tour_buy
    .tour__row
      width: 100%
      border-right: none
    .hotel
      width: percentage(630/1000)
    .tour__info
      width: percentage(370/1000)
    .tour__option-table
      td:last-child
        padding-left: 50px
        padding-right: 50px


.about
  display: table
  & + .tour
    margin-top: 60px


.about__left
  display: table-cell
  width: percentage(445/1000)
  vertical-align: top
  padding-right: 20px

.about__right
  display: table-cell
  vertical-align: top
  outline: 2px dashed #B2E2F5
  outline-offset: -2px
  position: relative
  z-index: 1

.about__pic
  overflow: hidden
  width: 425px
  height: 425px
  img
    display: block
    margin: auto
    // max-width: 100%

.about__pics
  margin-right: -8px
  font-size: 0
  img
    display: inline-block
    vertical-align: top
    width: 101px
    height: 101px
    margin: 7px 7px 0 0
  div
    display: inline-block
    vertical-align: top
    width: 101px
    height: 101px
    margin: 7px 7px 0 0
    overflow: hidden
    img
      display: block
      width: auto
      height: auto
      margin: 0
      // max-width: 100%


.tab
  height: 100%
  // border: 2px dashed #B2E2F5
  +roboto
  position: relative
  z-index: 2

.tab__selectors
  font-size: 0
  background: #FFF
  // borde-bottom: 2px dashed #B2E2F5
  li
    // margin: 0 0 -2px 0
    display: inline-block
    vertical-align: top
    padding: 10px 25px
    outline: 2px dashed #B2E2F5
    outline-offset: -2px
    outline-color: #FFF
    font-size: 18px
    line-height: 1.4
    text-transform: uppercase
    color: $orange
    text-decoration: underline
    cursor: pointer
    &:hover
      text-decoration: none
    &.is-active
      position: relative
      outline-color: #B2E2F5
      color: #141617
      +roboto-b
      text-decoration: none
      &:after
        content: ""
        position: absolute
        bottom: -2px
        left: 2px
        right: 2px
        height: 4px
        background: #FFF

.tab__content
  // margin: 0 -2px
  border-top: 2px dashed #B2E2F5
  line-height: 1.7
  font-size: 14px
  p
    margin: 25px 0
    &:first-child
      margin-top: 0
    &:last-child
      margin-bottom: 0

.tab__content-item
  display: none
  padding: 50px 40px
  &:first-child
    display: block


.gallery
  max-width: 690px
  margin: auto
  padding: 60px 100px
  +rh(800)
    padding: 15px 100px

.gallery__main
  position: relative

.gallery__slides
  border: 3px solid #e6e6e7
  overflow: hidden
  .slide
    // max-height: 460px
    // display: none
    // &:first-child
    //   display: block
  img
    display: block
    max-width: 100%

.gallery__wrap
  overflow: hidden

.gallery__carousel
  margin: 18px -9px
  +clr
  .slide
    float: left
    margin: 0 9px
    width: 100px
    height: 100px
    overflow: hidden
  img
    display: block
    // max-width: 100%

.gallery__next,
.gallery__prev
  position: absolute
  top: 50%
  color: #CCC
  font-size: 40px
  line-height: 1
  margin-top: -20px
  cursor: pointer
  +user-select(none)

.gallery__prev
  left: -90px

.gallery__next
  right: -90px


.profile
  .input
    display: inline-block
    vertical-align: top
    margin-top: 15px
    margin-right: 12px
    width: percentage(265/670)

  .select-sex
    display: block
    margin: 20px 0 0 2px
    text-align: left

  .contact-data
    margin-top: 0
    .input
      width: 100%

  .contact-data__email
    width: percentage(265/670)

  .contact-data__country-code
    width: percentage(125/670)

  .contact-data__phone
    width: percentage(230/670)

  .head
    margin-top: 35px
    &:first-child
      margin-top: 0

.profile__document
  .radio
    display: inline-block
    margin: 3px 0
  & + .input
    display: block


.profile__document-data
  display: inline-block
  width: percentage(265/670)
  margin-right: 12px
  white-space: nowrap
  .input
    width: percentage(165/265)
    margin-right: 0
    &:first-child
      width: percentage(96/265)

.profile_password
  .input
    margin-top: 30px
    &:first-child
      display: block
      margin-top: 0
  & > .btn
    display: block
    margin-top: 30px