extend layout/layout2

block title
  title Buy Ticket

block content
  .l-center
    //begin tour
    .tour.tour_wide.tour_buy
      .tour__row
        .hotel
          .hotel__pic
            img(src="img/hotel4.jpg")
          .hotel__container
            .hotel__container-in
              .hotel__name
                | Best Semiramis
              .hotel__rating
                i.ico.ico_star
                i.ico.ico_star
                i.ico.ico_star
                i.ico.ico_star
                i.ico.ico_star
              .hotel__location
                | Испания, Коста-дель-Маресме
                a(href="#")
                  i.ico.ico_location2
                  | Карта
        .tour__info
          .tour__info-item
            span.tour__label
              | Вылет
            span.tour__date
              | 8
            span.tour__date-extend
              | <b>Октября,</b>среда
          .tour__info-item
            span.tour__label
              | Обратно
            span.tour__date
              | 18
            span.tour__date-extend
              | <b>Октября,</b>среда
          .tour__info-item
            span.tour__label
              | Ночей
            span.tour__nights
              | 10
          .tour__info-item
            span.tour__label
              | Туроператор
            img(src="img/tui.png", alt="")
      .tour__row
        table.tour__option-table
          tr
            td
              .tour__option
                i.ico.ico_family
                | 2 ADL
              .tour__option
                i.ico.ico_bed
                | стандартная комната
            td
              .tour__option
                i.ico.ico_forks
                | все включено
              .tour__option
                i.ico.ico_direction
                | SVO-AYT-DMO
            td
              .tour__option-cleen
                i.ico.ico_plane
                .tour__option-status
                  i.ico.ico_no
              .tour__option-cleen
                i.ico.ico_home
                .tour__option-status
                  i.ico.ico_yes
              .tour__option-cleen
                i.ico.ico_plane2
                .tour__option-status
                  span
                    | по запросу
    //end tour

  .head
    .l-center
      h3.title
        | Данные пассажиров
      p.head__text
        | Введите данные пассажирова для бронирования и дальнейшей оплаты.

  .l-center
    //begin passenger
    .passenger
      table.passenger__table
        tr
          td(rowspan="2")
            span.passenger__number
              | 1
            span.passenger__type
              | Взрослый
          td
            .passenger__lastname
              .input.input_simple
                span.input__label
                  | Фамилия:
                input(type="text")
          td
            .passenger__firstname
              .input.input_simple
                span.input__label
                  | Имя:
                input(type="text")
          td
            .passenger__surname
              .input.input_simple
                span.input__label
                  | Отчество:
                input(type="text")
          td
            .passenger__date
              .input.input_simple
                span.input__label
                  | Дата рождения:
                input(type="text", placeholder="ДД")
                input(type="text", placeholder="ММ")
                input(type="text", placeholder="ГГГГ")
          td
            .passenger__sex
              label.passenger__sex-radio-btn
                input(type="radio", name="sex")
                i.ico.ico_male.is-active
              label.passenger__sex-radio-btn
                input(type="radio", name="sex", checked)
                i.ico.ico_female
              label.passenger__sex-radio-btn
                input(type="radio", name="sex")
                i.ico.ico_kid
        tr
          td
            .passenger__document
              .input
                span.input__label
                  | Документ:
                label.radio
                  input(type="radio", name="document", checked)
                  span заграничный
                label.radio
                  input(type="radio", name="document")
                  span общенациональный
                label.radio
                  input(type="radio", name="document")
                  span свидетельство
          td
            .passenger__nationality
              .input
                span.input__label
                  | Гражданство:
                .select
                  span.select__value
                  ul.select__drop
                    - var i = 1
                    each item in ['Гражданство 1', 'Гражданство 2', 'Гражданство 3']
                      li(data-option=i++)= item
          td
            .passenger__passport
              .input.input_simple
                span.input__label
                  | Серия:
                input(type="text")
              .input.input_simple
                span.input__label
                  | Номер:
                input(type="text")
          td
            .passenger__date
              .input.input_simple
                span.input__label
                  | Дата рождения:
                input(type="text", placeholder="ДД")
                input(type="text", placeholder="ММ")
                input(type="text", placeholder="ГГГГ")
          td
            a(href="#").passenger__clear
              i.ico.ico_clear
              | Очистить
    //end passenger
    //begin passenger
    .passenger
      table.passenger__table
        tr
          td(rowspan="2")
            span.passenger__number
              | 2
            span.passenger__type
              | Взрослый
          td
            .passenger__lastname
              .input.input_simple
                span.input__label
                  | Фамилия:
                input(type="text")
          td
            .passenger__firstname
              .input.input_simple
                span.input__label
                  | Имя:
                input(type="text")
          td
            .passenger__surname
              .input.input_simple
                span.input__label
                  | Отчество:
                input(type="text")
          td
            .passenger__date
              .input.input_simple
                span.input__label
                  | Дата рождения:
                input(type="text", placeholder="ДД")
                input(type="text", placeholder="ММ")
                input(type="text", placeholder="ГГГГ")
          td
            .passenger__sex
              label.passenger__sex-radio-btn
                input(type="radio", name="sex-second", checked)
                i.ico.ico_male.is-active
              label.passenger__sex-radio-btn
                input(type="radio", name="sex-second")
                i.ico.ico_female
              label.passenger__sex-radio-btn
                input(type="radio", name="sex-second")
                i.ico.ico_kid
        tr
          td
            .passenger__document
              .input
                span.input__label
                  | Документ:
                label.radio
                  input(type="radio", name="document-second", checked)
                  span заграничный
                label.radio
                  input(type="radio", name="document-second")
                  span общенациональный
                label.radio
                  input(type="radio", name="document-second")
                  span свидетельство
          td
            .passenger__nationality
              .input
                span.input__label
                  | Гражданство:
                .select
                  span.select__value
                  ul.select__drop
                    - var i = 1
                    each item in ['Гражданство 1', 'Гражданство 2', 'Гражданство 3']
                      li(data-option=i++)= item
          td
            .passenger__passport
              .input.input_simple
                span.input__label
                  | Серия:
                input(type="text")
              .input.input_simple
                span.input__label
                  | Номер:
                input(type="text")
          td
            .passenger__date
              .input.input_simple
                span.input__label
                  | Дата рождения:
                input(type="text", placeholder="ДД")
                input(type="text", placeholder="ММ")
                input(type="text", placeholder="ГГГГ")
          td
            a(href="#").passenger__clear
              i.ico.ico_clear
              | Очистить
    //end passenger

  .head.head_justify
    .l-center
      h3.title
        | Контактные данные покупателя
      p.head__text
        | Если у вас уже есть аккаунт TripEnjoy
        a(href="#")
          | Авторизируйтесь

  .l-center
    //begin buyer-contacts
    .buyer
      .buyer__name
        .input.input_simple
          span.input__label
            | Ф.И.О.:
          input(type="text")
      .buyer__email
        .input.input_simple
          span.input__label
            | E-mail:
          input(type="text")
      .buyer__country-code
        .input.input_simple
          span.input__label
            | Код страны:
          .select
            span.select__value
            ul.select__drop
              - var i = 1
              each item in ['+001', '+002', '+003']
                li(data-option=i++)= item
      .buyer__phone
        .input.input_simple
          span.input__label
            | Номер телефона:
          input(type="text")
    //end buyer-contacts

  .head.head_justify.head_blue
    .l-center
      h3.title
        | Оплата
      p.head__text
        | Выбранные билеты необходимо оплатить до <b>21 сентября 2014 г</b>.
      .clock
        .clock__tile
          span.clock__value
            | 03
          span.clock__label
            | ч
        .clock__tile
          span.clock__value
            | 15
          span.clock__label
            | м
        .clock__tile
          span.clock__value
            | 36
          span.clock__label
            | сек

  .l-center
    //begin payment
    .payment
      table.payment__table
        thead
          tr
          td
            span
              | Способ оплаты:
          td
            span
              | Тариф:
          td
          td
            span
              | Таксы, сборы:
          td
          td
            span
              | К оплате:
        tbody
          tr
            td
              label.radio
                input(type="radio", name="payment", checked)
                span
                  a(href="#")
                    | Банковской картой
                img(src="img/card.png")
            td
              | 16 000 руб.
            td.payment__operator
              | +
            td
              | 12 000 руб.
            td.payment__operator
              | =
            td.payment__total
              | 28 000 руб.
          tr
            td
              label.radio
                input(type="radio", name="payment")
                span
                  a(href="#")
                    | Платежной системой
                img(src="img/wm.png")
            td
              | 16 000 руб.
            td.payment__operator
              | +
            td
              | 13 500 руб.
            td.payment__operator
              | =
            td.payment__total
              | 29 500 руб.
    //end payment

    //begin info-text
    .info-text
      label.checkbox
        input(type="checkbox")
        span
          | Я хочу получать информацию о специальных акциях на сайте
      label.checkbox
        input(type="checkbox")
        span
          | Я принимаю <a href="#">соглашение</a>, условия возврата и обмена, а также обработки моих персональных данных
      a(href="#").btn
        | Перейти к Оплате
    //end info-text


