extend layout/layout2

block title
  title Buy Ticket

block content
  .l-center
    //begin ticket
    .ticket.ticket_wide.ticket_buy
      .ticket__row
        i.ico.ico_plane
        .ticket__date
          | <b>26 сентября</b>, пятница
      .ticket__row
        .ticket__duration
          | 3 ч 55 мин
          .ticket__duration-extra
            | Через Кишинев
            span.ticket__label
              | 6ч 20м
        .ticket__departure
          span.ticket__label
            | Вылет
          span.ticket__time
            | 19:45
          span.ticket__location
            | <b>Шереметьево,</b> Москва
        .ticket__arrival
          span.ticket__label
            | Прибытие 26 сентября
          span.ticket__time
            | 21:40
          span.ticket__location
            | <b>Шарль-де-Голь,</b> Париж
        .ticket__flight
          span.ticket__label
            | Рейс
          | <b>AF-1745,</b> эконом
        .ticket__info
          span.ticket__label
            | Перевозчик
          img(src="img/af.png", alt="")
          | <b>Air France</b>, <span>AIRBUS A321</span>, <em>мест 3+</em>
      .ticket__row
        i.ico.ico_plane2
        .ticket__date
          | <b>26 сентября</b>, пятница
      .ticket__row
        .ticket__duration
          | 3 ч 55 мин
          .ticket__duration-extra
            | Через Кишинев
            span.ticket__label
              | 6ч 20м
        .ticket__departure
          span.ticket__label
            | Вылет
          span.ticket__time
            | 19:45
          span.ticket__location
            | <b>Шереметьево,</b> Москва
        .ticket__arrival
          span.ticket__label
            | Прибытие 26 сентября
          span.ticket__time
            | 21:40
          br
          span.ticket__location
            | <b>Шарль-де-Голь,</b> Париж
        .ticket__flight
          span.ticket__label
            | Рейс
          |<b>AF-1745,</b> эконом
        .ticket__info
          span.ticket__label
            | Перевозчик
          img(src="img/af.png", alt="")
          | <b>Air France</b>, <span>AIRBUS A321</span>, <em>мест 3+</em>
    //end ticket

  .head
    .l-center
      h3.title
        | Данные пассажиров
      p.head__text
        | Введите данные пассажирова для бронирования и дальнейшей оплаты.

  .l-center
    //begin passenger
    .passenger
      table.passenger__table
        tr
          td(rowspan="2")
            span.passenger__number
              | 1
            span.passenger__type
              | Взрослый
          td
            .passenger__lastname
              .input.input_simple
                span.input__label
                  | Фамилия:
                input(type="text")
          td
            .passenger__firstname
              .input.input_simple
                span.input__label
                  | Имя:
                input(type="text")
          td
            .passenger__surname
              .input.input_simple
                span.input__label
                  | Отчество:
                input(type="text")
          td
            .passenger__date
              .input.input_simple
                span.input__label
                  | Дата рождения:
                input(type="text", placeholder="ДД")
                input(type="text", placeholder="ММ")
                input(type="text", placeholder="ГГГГ")
          td
            .select-sex
              label.select-sex__radio-btn
                input(type="radio", name="sex")
                i.ico.ico_male.is-active
              label.select-sex__radio-btn
                input(type="radio", name="sex", checked)
                i.ico.ico_female
              label.select-sex__radio-btn
                input(type="radio", name="sex")
                i.ico.ico_kid
        tr
          td
            .passenger__document
              .input
                span.input__label
                  | Документ:
                label.radio
                  input(type="radio", name="document", checked)
                  span заграничный
                label.radio
                  input(type="radio", name="document")
                  span общенациональный
                label.radio
                  input(type="radio", name="document")
                  span свидетельство
          td
            .passenger__nationality
              .input
                span.input__label
                  | Гражданство:
                .select
                  span.select__value
                  ul.select__drop
                    - var i = 1
                    each item in ['Гражданство 1', 'Гражданство 2', 'Гражданство 3']
                      li(data-option=i++)= item
          td
            .passenger__passport
              .input.input_simple
                span.input__label
                  | Серия:
                input(type="text")
              .input.input_simple
                span.input__label
                  | Номер:
                input(type="text")
          td
            .passenger__date
              .input.input_simple
                span.input__label
                  | Дата рождения:
                input(type="text", placeholder="ДД")
                input(type="text", placeholder="ММ")
                input(type="text", placeholder="ГГГГ")
          td
            a(href="#").passenger__clear
              i.ico.ico_clear
              | Очистить
    //end passenger
    //begin passenger
    .passenger
      table.passenger__table
        tr
          td(rowspan="2")
            span.passenger__number
              | 2
            span.passenger__type
              | Взрослый
          td
            .passenger__lastname
              .input.input_simple
                span.input__label
                  | Фамилия:
                input(type="text")
          td
            .passenger__firstname
              .input.input_simple
                span.input__label
                  | Имя:
                input(type="text")
          td
            .passenger__surname
              .input.input_simple
                span.input__label
                  | Отчество:
                input(type="text")
          td
            .passenger__date
              .input.input_simple
                span.input__label
                  | Дата рождения:
                input(type="text", placeholder="ДД")
                input(type="text", placeholder="ММ")
                input(type="text", placeholder="ГГГГ")
          td
            .select-sex
              label.select-sex__radio-btn
                input(type="radio", name="sex-second", checked)
                i.ico.ico_male.is-active
              label.select-sex__radio-btn
                input(type="radio", name="sex-second")
                i.ico.ico_female
              label.select-sex__radio-btn
                input(type="radio", name="sex-second")
                i.ico.ico_kid
        tr
          td
            .passenger__document
              .input
                span.input__label
                  | Документ:
                label.radio
                  input(type="radio", name="document-second", checked)
                  span заграничный
                label.radio
                  input(type="radio", name="document-second")
                  span общенациональный
                label.radio
                  input(type="radio", name="document-second")
                  span свидетельство
          td
            .passenger__nationality
              .input
                span.input__label
                  | Гражданство:
                .select
                  span.select__value
                  ul.select__drop
                    - var i = 1
                    each item in ['Гражданство 1', 'Гражданство 2', 'Гражданство 3']
                      li(data-option=i++)= item
          td
            .passenger__passport
              .input.input_simple
                span.input__label
                  | Серия:
                input(type="text")
              .input.input_simple
                span.input__label
                  | Номер:
                input(type="text")
          td
            .passenger__date
              .input.input_simple
                span.input__label
                  | Дата рождения:
                input(type="text", placeholder="ДД")
                input(type="text", placeholder="ММ")
                input(type="text", placeholder="ГГГГ")
          td
            a(href="#").passenger__clear
              i.ico.ico_clear
              | Очистить
    //end passenger

  .head.head_justify
    .l-center
      h3.title
        | Контактные данные покупателя
      p.head__text
        | Если у вас уже есть аккаунт TripEnjoy
        a(href="#")
          | Авторизируйтесь

  .l-center
    //begin buyer-contacts
    .contact-data
      .contact-data__name
        .input.input_simple
          span.input__label
            | Ф.И.О.:
          input(type="text")
      .contact-data__email
        .input.input_simple
          span.input__label
            | E-mail:
          input(type="text")
      .contact-data__country-code
        .input.input_simple
          span.input__label
            | Код страны:
          .select
            span.select__value
            ul.select__drop
              - var i = 1
              each item in ['+001', '+002', '+003']
                li(data-option=i++)= item
      .contact-data__phone
        .input.input_simple
          span.input__label
            | Номер телефона:
          input(type="text")
    //end buyer-contacts

  .head.head_justify.head_blue
    .l-center
      h3.title
        | Оплата
      p.head__text
        | Выбранные билеты необходимо оплатить до <b>21 сентября 2014 г</b>.
      .clock
        .clock__tile
          span.clock__value
            | 03
          span.clock__label
            | ч
        .clock__tile
          span.clock__value
            | 15
          span.clock__label
            | м
        .clock__tile
          span.clock__value
            | 36
          span.clock__label
            | сек

  .l-center
    //begin payment
    .payment
      table.payment__table
        thead
          tr
          td
            span
              | Способ оплаты:
          td
            span
              | Тариф:
          td
          td
            span
              | Таксы, сборы:
          td
          td
            span
              | К оплате:
        tbody
          tr
            td
              label.radio
                input(type="radio", name="payment", checked)
                span
                  a(href="#")
                    | Банковской картой
                img(src="img/card.png")
            td
              | 16 000 руб.
            td.payment__operator
              | +
            td
              | 12 000 руб.
            td.payment__operator
              | =
            td.payment__total
              | 28 000 руб.
          tr
            td
              label.radio
                input(type="radio", name="payment")
                span
                  a(href="#")
                    | Платежной системой
                img(src="img/wm.png")
            td
              | 16 000 руб.
            td.payment__operator
              | +
            td
              | 13 500 руб.
            td.payment__operator
              | =
            td.payment__total
              | 29 500 руб.
    //end payment

    //begin info-text
    .info-text
      label.checkbox
        input(type="checkbox")
        span
          | Я хочу получать информацию о специальных акциях на сайте
      label.checkbox
        input(type="checkbox")
        span
          | Я принимаю <a href="#">соглашение</a>, условия возврата и обмена, а также обработки моих персональных данных
      a(href="#").btn
        | Перейти к Оплате
    //end info-text


