extend layout/layout

block title
  title Change Password

block content
  .head
    .l-center
      h1.title
        | Мои заказы

  .l-center
    .l-two-col.l-two-col_mod
      .col1
        .profile.profile_password

          .input.input_simple
            span.input__label
              | Текущий пароль:
            input(type="text")

          .input.input_simple
            span.input__label
              | Новый пароль:
            input(type="text")

          .input.input_simple
            span.input__label
              | Повторите новый пароль:
            input(type="text")

          button.btn
            | Изменить


      .col2
        .head.head_small
          .title
            | Личный кабинет
        ul.navigation
          li
            a(href="#")
              | Мои заказы
          li
            a(href="#")
              | Мой профиль
          li.is-active
            a(href="#")
              | Изменить пароль
        .banner
          img(src="img/banner.jpg", alt="")