extend layout/layout2

block title
  title Hotel Card

block content
  .head.head_justify
    .l-center
      .hotel
        .hotel__name
          | Mabillon
        .hotel__location
          | Испания, Коста-дель-Маресме
          a(href="#")
            i.ico.ico_location2
            | Карта
      a(href="#").btn.btn_blue.btn_blue-mod
        | Вернуться к результатам поиска
        i.ico.ico_back