extends layout/layout2

block title
  title Hotel Results

block header
  include include/header-hotel

block toparea
  //begin search-result
  .search.search_result
    .l-center
      .search-result
        i.ico.ico_palm
        .search-result__from
          | Барселона, Испания
        i.ico.ico_calendar
        | 19.09.2014

        .search-result__night
          i.ico.ico_moon
          | 10 ночей

        a.search-result__change(href="#")
          | Изменить условия поиска
  //end search-result

block content
  .l-center
    .wrap
      //begin ticket
      .ticket.ticket_hotel
        .ticket__head
          i.ico.ico_clock
          | Самый удобный

        .hotel.hotel_expanded
          .hotel__pic
            img(src="img/hotel4.jpg")
            .hotel__pic-small
              img(src="img/hotel4.jpg")
            .hotel__pic-small
              img(src="img/hotel4.jpg")
          .hotel__container
            .hotel__container-in
              .hotel__name
                | Best Semiramis
              .hotel__rating
                i.ico.ico_star
                i.ico.ico_star
                i.ico.ico_star
                i.ico.ico_star
                i.ico.ico_star
              .hotel__rating-value
                span 4,6
              .hotel__location
                | Испания, Коста-дель-Маресме
                a(href="#")
                  i.ico.ico_location2
                  | Карта
              .hotel__services
                .ico.ico_service-wifi
                .ico.ico_service-parking
                .ico.ico_service-animal
                .ico.ico_service-food
                .ico.ico_service-pool
                .ico.ico_service-flight
            .hotel__info
              .hotel__info-item
                span.hotel__label
                  | За 1 ночь
                span.hotel__price
                  | 45 345 <sub>руб.</sub>
              .hotel__info-item
                span.hotel__label
                  | Номер
                b УЛУЧШЕННЫЙ,
                  br
                  | с подогревом паркета
            .hotel__more(data-text1="Еще номера", data-text2="Скрыть")
              | Еще номера

        .ticket__drop-down
          .hotel__info
            .hotel__info-item
              span.hotel__label
                | За 1 ночь
              span.hotel__price
                | 45 345 <sub>руб.</sub>
            .hotel__info-item
              span.hotel__label
                | Номер
              b УЛУЧШЕННЫЙ,
                br
                | с подогревом паркета
            .hotel__info-item
              span.ticket__price
                b
                  | 12 000
                sub
                  | руб.
          .hotel__info
            .hotel__info-item
              span.hotel__label
                | За 1 ночь
              span.hotel__price
                | 25 387 <sub>руб.</sub>
            .hotel__info-item
              span.hotel__label
                | Номер
              b УЛУЧШЕННЫЙ,
                br
                | с подогревом паркета
            .hotel__info-item
              span.ticket__price
                b
                  | 28 000
                sub
                  | руб.
          .hotel__info
            .hotel__info-item
              span.hotel__label
                | За 1 ночь
              span.hotel__price
                | 23 677 <sub>руб.</sub>
            .hotel__info-item
              span.hotel__label
                | Номер
              b УЛУЧШЕННЫЙ,
                br
                | с подогревом паркета
            .hotel__info-item
              span.ticket__price
                b
                  | 30 500
                sub
                  | руб.

        .ticket__bottom
          span.ticket__price
            | от: <b>30 000 руб.</b> <em>за 3 ночи</em>
          button.btn
            | Забронировать
      //end ticket
      //begin ticket
      .ticket.ticket_hotel
        .ticket__head.ticket__head_orange
          i.ico.ico_percent
          | Самый дешевый

        .hotel.hotel_expanded
          .hotel__pic
            img(src="img/hotel4.jpg")
            .hotel__pic-small
              img(src="img/hotel4.jpg")
            .hotel__pic-small
              img(src="img/hotel4.jpg")
          .hotel__container
            .hotel__container-in
              .hotel__name
                | Best Semiramis
              .hotel__rating
                i.ico.ico_star
                i.ico.ico_star
                i.ico.ico_star
              .hotel__rating-value
                span 2,5
              .hotel__location
                | Испания, Коста-дель-Маресме
                a(href="#")
                  i.ico.ico_location2
                  | Карта
              .hotel__services
                .ico.ico_service-wifi
                .ico.ico_service-food
            .hotel__info
              .hotel__info-item
                span.hotel__label
                  | За 1 ночь
                span.hotel__price
                  | 15 345 <sub>руб.</sub>
              .hotel__info-item
                span.hotel__label
                  | Номер
                b УЛУЧШЕННЫЙ,
                  br
                  | с подогревом паркета
            .hotel__more(data-text1="Еще номера", data-text2="Скрыть")
              | Еще номера

        .ticket__drop-down
          .hotel__info
            .hotel__info-item
              span.hotel__label
                | За 1 ночь
              span.hotel__price
                | 45 345 <sub>руб.</sub>
            .hotel__info-item
              span.hotel__label
                | Номер
              b УЛУЧШЕННЫЙ,
                br
                | с подогревом паркета
            .hotel__info-item
              span.ticket__price
                b
                  | 12 000
                sub
                  | руб.
          .hotel__info
            .hotel__info-item
              span.hotel__label
                | За 1 ночь
              span.hotel__price
                | 25 387 <sub>руб.</sub>
            .hotel__info-item
              span.hotel__label
                | Номер
              b УЛУЧШЕННЫЙ,
                br
                | с подогревом паркета
            .hotel__info-item
              span.ticket__price
                b
                  | 28 000
                sub
                  | руб.
          .hotel__info
            .hotel__info-item
              span.hotel__label
                | За 1 ночь
              span.hotel__price
                | 23 677 <sub>руб.</sub>
            .hotel__info-item
              span.hotel__label
                | Номер
              b УЛУЧШЕННЫЙ,
                br
                | с подогревом паркета
            .hotel__info-item
              span.ticket__price
                b
                  | 30 500
                sub
                  | руб.

        .ticket__bottom
          span.ticket__price
            | от: <b>30 000 руб.</b> <em>за 3 ночи</em>
          button.btn
            | Забронировать
      //end ticket

  .head
    .l-center
      h1.title
        | Отсортировать варианты по:

  .l-center
    //begin sort
    .sort.sort_select
      .select
        span.select__value
          | Популярности
        ul.select__drop
          - var i = 1;
          each item in ['город 1', 'город 2', 'город 3']
            li(data-option=i++)= item
      .select
        span.select__value
          | По цене
        ul.select__drop
          - var i = 1;
          each item in ['отель 1', 'отель 2', 'отель 3']
            li(data-option=i++)= item
      .select
        span.select__value
          | По рейтингу
        ul.select__drop
          - var i = 1;
          each item in ['категория 1', 'категория 2', 'категория 3']
            li(data-option=i++)= item
      .select
        span.select__value
          | Тип отеля
        ul.select__drop
          - var i = 1;
          each item in ['питание 1', 'питание 2', 'питание 3']
            li(data-option=i++)= item
    //end sort

    //begin ticket-list
    .ticket-list
      //begin ticket
      .ticket.ticket_wide.ticket_hotel
        .ticket__main
          .hotel.hotel_expanded
            .hotel__pic
              img(src="img/hotel4.jpg")
              .hotel__pic-small
                img(src="img/hotel4.jpg")
              .hotel__pic-small
                img(src="img/hotel4.jpg")
            .hotel__container
              .hotel__container-in
                .hotel__name
                  | Best Semiramis
                .hotel__rating
                  i.ico.ico_star
                  i.ico.ico_star
                  i.ico.ico_star
                  i.ico.ico_star
                  i.ico.ico_star
                .hotel__rating-value
                  span 4,6
                  em  отлично
                .hotel__services
                  .ico.ico_service-wifi
                  .ico.ico_service-parking
                  .ico.ico_service-animal
                  .ico.ico_service-food
                  .ico.ico_service-pool
                  .ico.ico_service-flight
                .hotel__location
                  | Испания, Коста-дель-Маресме
                  a(href="#")
                    i.ico.ico_location2
                    | Карта
              .hotel__info
                .hotel__info-item
                  span.hotel__label
                    | За 1 ночь
                  span.hotel__price
                    | 45 345 <sub>руб.</sub>
                .hotel__info-item
                  span.hotel__label
                    | Номер
                  b УЛУЧШЕННЫЙ,
                    br
                    | с подогревом паркета
              .hotel__more(data-text1="Еще номера", data-text2="Скрыть")
                | Еще номера
          .ticket__bottom
            .ticket__bottom-in
              span.ticket__price
                em
                  | за 3 ночи
                b
                  | 30 000
                sub
                  | руб.
              button.btn
                | Купить

        .ticket__drop-down
          .hotel__info
            .hotel__info-item
              span.hotel__label
                | За 1 ночь
              span.hotel__price
                | 45 345 <sub>руб.</sub>
            .hotel__info-item
              span.hotel__label
                | Номер
              b УЛУЧШЕННЫЙ,
                br
                | с подогревом паркета
            .hotel__info-item
              span.ticket__price
                b
                  | 12 000
                sub
                  | руб.
          .hotel__info
            .hotel__info-item
              span.hotel__label
                | За 1 ночь
              span.hotel__price
                | 25 387 <sub>руб.</sub>
            .hotel__info-item
              span.hotel__label
                | Номер
              b УЛУЧШЕННЫЙ,
                br
                | с подогревом паркета
            .hotel__info-item
              span.ticket__price
                b
                  | 28 000
                sub
                  | руб.
          .hotel__info
            .hotel__info-item
              span.hotel__label
                | За 1 ночь
              span.hotel__price
                | 23 677 <sub>руб.</sub>
            .hotel__info-item
              span.hotel__label
                | Номер
              b УЛУЧШЕННЫЙ,
                br
                | с подогревом паркета
            .hotel__info-item
              span.ticket__price
                b
                  | 30 500
                sub
                  | руб.
      //end ticket
      //begin ticket
      .ticket.ticket_wide.ticket_hotel
        .ticket__main
          .hotel.hotel_expanded
            .hotel__pic
              img(src="img/hotel4.jpg")
              .hotel__pic-small
                img(src="img/hotel4.jpg")
              .hotel__pic-small
                img(src="img/hotel4.jpg")
            .hotel__container
              .hotel__container-in
                .hotel__name
                  | Best Semiramis Semiramis
                .hotel__rating
                  i.ico.ico_star
                  i.ico.ico_star
                  i.ico.ico_star
                  i.ico.ico_star
                .hotel__rating-value
                  span 3,5
                  em  неплохо
                .hotel__services
                  .ico.ico_service-wifi
                  .ico.ico_service-parking
                  .ico.ico_service-animal
                  .ico.ico_service-food
                .hotel__location
                  | Испания, Коста-дель-Маресме
                  a(href="#")
                    i.ico.ico_location2
                    | Карта
              .hotel__info
                .hotel__info-item
                  span.hotel__label
                    | За 1 ночь
                  span.hotel__price
                    | 25 345 <sub>руб.</sub>
                .hotel__info-item
                  span.hotel__label
                    | Номер
                  b УЛУЧШЕННЫЙ,
                    br
                    | с подогревом паркета
              .hotel__more(data-text1="Еще номера", data-text2="Скрыть")
                | Еще номера
          .ticket__bottom
            .ticket__bottom-in
              span.ticket__price
                em
                  | за 3 ночи
                b
                  | 35 000
                sub
                  | руб.
              button.btn
                | Купить

        .ticket__drop-down
          .hotel__info
            .hotel__info-item
              span.hotel__label
                | За 1 ночь
              span.hotel__price
                | 45 345 <sub>руб.</sub>
            .hotel__info-item
              span.hotel__label
                | Номер
              b УЛУЧШЕННЫЙ,
                br
                | с подогревом паркета
            .hotel__info-item
              span.ticket__price
                b
                  | 12 000
                sub
                  | руб.
          .hotel__info
            .hotel__info-item
              span.hotel__label
                | За 1 ночь
              span.hotel__price
                | 25 387 <sub>руб.</sub>
            .hotel__info-item
              span.hotel__label
                | Номер
              b УЛУЧШЕННЫЙ,
                br
                | с подогревом паркета
            .hotel__info-item
              span.ticket__price
                b
                  | 28 000
                sub
                  | руб.
          .hotel__info
            .hotel__info-item
              span.hotel__label
                | За 1 ночь
              span.hotel__price
                | 23 677 <sub>руб.</sub>
            .hotel__info-item
              span.hotel__label
                | Номер
              b УЛУЧШЕННЫЙ,
                br
                | с подогревом паркета
            .hotel__info-item
              span.ticket__price
                b
                  | 30 500
                sub
                  | руб.
      //end ticket
      //begin ticket
      .ticket.ticket_wide.ticket_hotel
        .ticket__main
          .hotel.hotel_expanded
            .hotel__pic
              img(src="img/hotel4.jpg")
              .hotel__pic-small
                img(src="img/hotel4.jpg")
              .hotel__pic-small
                img(src="img/hotel4.jpg")
            .hotel__container
              .hotel__container-in
                .hotel__name
                  | Best Semiramis
                .hotel__rating
                  i.ico.ico_star
                  i.ico.ico_star
                  i.ico.ico_star
                  i.ico.ico_star
                  i.ico.ico_star
                .hotel__rating-value
                  span 4,6
                  em  отлично
                .hotel__services
                  .ico.ico_service-wifi
                  .ico.ico_service-parking
                  .ico.ico_service-animal
                  .ico.ico_service-food
                  .ico.ico_service-pool
                  .ico.ico_service-flight
                .hotel__location
                  | Испания, Коста-дель-Маресме
                  a(href="#")
                    i.ico.ico_location2
                    | Карта
              .hotel__info
                .hotel__info-item
                  span.hotel__label
                    | За 1 ночь
                  span.hotel__price
                    | 45 345 <sub>руб.</sub>
                .hotel__info-item
                  span.hotel__label
                    | Номер
                  b УЛУЧШЕННЫЙ,
                    br
                    | с подогревом паркета
              .hotel__more(data-text1="Еще номера", data-text2="Скрыть")
                | Еще номера
          .ticket__bottom
            .ticket__bottom-in
              span.ticket__price
                em
                  | за 3 ночи
                b
                  | 30 000
                sub
                  | руб.
              button.btn
                | Купить

        .ticket__drop-down
          .hotel__info
            .hotel__info-item
              span.hotel__label
                | За 1 ночь
              span.hotel__price
                | 45 345 <sub>руб.</sub>
            .hotel__info-item
              span.hotel__label
                | Номер
              b УЛУЧШЕННЫЙ,
                br
                | с подогревом паркета
            .hotel__info-item
              span.ticket__price
                b
                  | 12 000
                sub
                  | руб.
          .hotel__info
            .hotel__info-item
              span.hotel__label
                | За 1 ночь
              span.hotel__price
                | 25 387 <sub>руб.</sub>
            .hotel__info-item
              span.hotel__label
                | Номер
              b УЛУЧШЕННЫЙ,
                br
                | с подогревом паркета
            .hotel__info-item
              span.ticket__price
                b
                  | 28 000
                sub
                  | руб.
          .hotel__info
            .hotel__info-item
              span.hotel__label
                | За 1 ночь
              span.hotel__price
                | 23 677 <sub>руб.</sub>
            .hotel__info-item
              span.hotel__label
                | Номер
              b УЛУЧШЕННЫЙ,
                br
                | с подогревом паркета
            .hotel__info-item
              span.ticket__price
                b
                  | 30 500
                sub
                  | руб.
      //end ticket
      //begin ticket
      .ticket.ticket_wide.ticket_hotel
        .ticket__main
          .hotel.hotel_expanded
            .hotel__pic
              img(src="img/hotel4.jpg")
              .hotel__pic-small
                img(src="img/hotel4.jpg")
              .hotel__pic-small
                img(src="img/hotel4.jpg")
            .hotel__container
              .hotel__container-in
                .hotel__name
                  | Best Semiramis Semiramis
                .hotel__rating
                  i.ico.ico_star
                  i.ico.ico_star
                  i.ico.ico_star
                  i.ico.ico_star
                .hotel__rating-value
                  span 3,5
                  em  неплохо
                .hotel__services
                  .ico.ico_service-wifi
                  .ico.ico_service-parking
                  .ico.ico_service-animal
                  .ico.ico_service-food
                .hotel__location
                  | Испания, Коста-дель-Маресме
                  a(href="#")
                    i.ico.ico_location2
                    | Карта
              .hotel__info
                .hotel__info-item
                  span.hotel__label
                    | За 1 ночь
                  span.hotel__price
                    | 25 345 <sub>руб.</sub>
                .hotel__info-item
                  span.hotel__label
                    | Номер
                  b УЛУЧШЕННЫЙ,
                    br
                    | с подогревом паркета
              .hotel__more(data-text1="Еще номера", data-text2="Скрыть")
                | Еще номера
          .ticket__bottom
            .ticket__bottom-in
              span.ticket__price
                em
                  | за 3 ночи
                b
                  | 35 000
                sub
                  | руб.
              button.btn
                | Купить

        .ticket__drop-down
          .hotel__info
            .hotel__info-item
              span.hotel__label
                | За 1 ночь
              span.hotel__price
                | 45 345 <sub>руб.</sub>
            .hotel__info-item
              span.hotel__label
                | Номер
              b УЛУЧШЕННЫЙ,
                br
                | с подогревом паркета
            .hotel__info-item
              span.ticket__price
                b
                  | 12 000
                sub
                  | руб.
          .hotel__info
            .hotel__info-item
              span.hotel__label
                | За 1 ночь
              span.hotel__price
                | 25 387 <sub>руб.</sub>
            .hotel__info-item
              span.hotel__label
                | Номер
              b УЛУЧШЕННЫЙ,
                br
                | с подогревом паркета
            .hotel__info-item
              span.ticket__price
                b
                  | 28 000
                sub
                  | руб.
          .hotel__info
            .hotel__info-item
              span.hotel__label
                | За 1 ночь
              span.hotel__price
                | 23 677 <sub>руб.</sub>
            .hotel__info-item
              span.hotel__label
                | Номер
              b УЛУЧШЕННЫЙ,
                br
                | с подогревом паркета
            .hotel__info-item
              span.ticket__price
                b
                  | 30 500
                sub
                  | руб.
      //end ticket
      .spinner
    //end ticket-list