extend layout/layout

block title
  title Index

block content
  .l-center
    ol.pagelist
      each page in ['main', 'tickets-result', 'tickets-result-one-way', 'select-return', 'searching-ticket', 'buy-ticket', 'knowledge-base', 'contact-form']
        li
          a(href= page + '.html')= page
  style
    | ol.pagelist { margin: 100px auto; list-style: decimal; margin-left: 20px}
    | ol.pagelist a { font-size: 20px; color: #000; font-weight: bold; text-decoration: none }