extend layout/layout

block title
  title Index

block content
  .l-center
    ol.pagelist
      each page in ['main', 'tickets-result', 'tickets-result-one-way', 'select-return', 'searching-ticket', 'searching-ticket-error', 'searching-ticket-uploading', 'buy-ticket', 'knowledge-base', 'contact-form', 'contact-form-error', 'contact-form-success', 'text-info', 'main-search-error', 'tours', 'tours-results', 'buy-tour', 'hotel-card', 'order-train', 'order-hotel', 'kabinet', 'my-profile', 'change-password', 'text-page', 'train-ticket-one-way', 'hotel-results', 'login']
        li
          a(href= page + '.html')= page

  style
    | ol.pagelist { margin: 100px auto; list-style: decimal; margin-left: 20px}
    | ol.pagelist a { font-size: 20px; color: #000; font-weight: bold; text-decoration: none }