extend layout/layout

block title
  title Knowledge Base

block content
  .head
    .l-center
      h2.title
        | База знаний

  .l-center
    .wrap
      .list
        .head.head_small
          h3.title
            | Самое популярное
          .head__text
            | (22)


    //begin info-text
    .info-text
      dl
        dt
          | TRIPENJOY
        dd
          | — это один из ярких проектов ГК «Pay.Travel»,
          | который объединяет продажу ключевых услуг в области путешествий в рамках единого масштабного on-line сервиса.
          | Все возможные сервисы для организации путешествий объединены в рамках единой платформы,
          | что позволяет максимально удобно и оперативно организовать свой отдых или бизнес-поездку.
      a(href="#").btn
       | Узнать больше
    //end info-text