extend layout/layout

block title
  title Knowledge Base

block content
  .head
    .l-center
      h2.title
        | База знаний

  .l-center
    //begin base
    .base
      .base__container
        .base__item
          .head.head_small
            h3.title
              | Самое популярное
            .head__text
              | (22)
          ul.base__list
            li
              a(href="#")
                | Проснувшись однажды утром после беспокойного сна, Грегор Замза?
            li
              a(href="#")
                | Лежа на панцирнотвердой спине?
            li
              a(href="#")
                | Его многочисленные, убого тонкие по сравнению?
            li
              a(href="#")
                | Далеко-далеко за словесными горами в стране гласных?
            li
              a(href="#")
                | Великий Оксмокс предупреждал ее?
        .base__item
          .head.head_small
            h3.title
              | Вопросы
            .head__text
              | (22)
          ul.base__list
            li
              a(href="#")
                | Он собрал семь своих заглавных букв, подпоясал инициал за пояс?
            li
              a(href="#")
                | Грустный реторический вопрос?
            li
              a(href="#")
                | Она предупредила его: В моей стране все переписывается по несколько раз.
            li
              a(href="#")
                | Далеко-далеко за словесными горами в стране гласных?
            li
              a(href="#")
                | Вскоре ему повстречался коварный составитель
        .base__item
          .head.head_small
            h3.title
              | Другие
            .head__text
              | (22)
          ul.base__list
            li
              a(href="#")
                | Проснувшись однажды утром после беспокойного сна, Грегор Замза?
            li
              a(href="#")
                | Лежа на панцирнотвердой спине?
            li
              a(href="#")
                | Его многочисленные, убого тонкие по сравнению?
            li
              a(href="#")
                | Далеко-далеко за словесными горами в стране гласных?
            li
              a(href="#")
                | Великий Оксмокс предупреждал ее?
        .base__item
          .head.head_small
            h3.title
              | Самое популярное
            .head__text
              | (22)
          ul.base__list
            li
              a(href="#")
                | Проснувшись однажды утром после беспокойного сна, Грегор Замза?
            li
              a(href="#")
                | Лежа на панцирнотвердой спине?
            li
              a(href="#")
                | Его многочисленные, убого тонкие по сравнению?
            li
              a(href="#")
                | Далеко-далеко за словесными горами в стране гласных?
            li
              a(href="#")
                | Великий Оксмокс предупреждал ее?
        .base__item
          .head.head_small
            h3.title
              | Вопросы
            .head__text
              | (22)
          ul.base__list
            li
              a(href="#")
                | Он собрал семь своих заглавных букв, подпоясал инициал за пояс?
            li
              a(href="#")
                | Грустный реторический вопрос?
            li
              a(href="#")
                | Она предупредила его: В моей стране все переписывается по несколько раз.
            li
              a(href="#")
                | Далеко-далеко за словесными горами в стране гласных?
            li
              a(href="#")
                | Вскоре ему повстречался коварный составитель
        .base__item
          .head.head_small
            h3.title
              | Другие
            .head__text
              | (22)
          ul.base__list
            li
              a(href="#")
                | Проснувшись однажды утром после беспокойного сна, Грегор Замза?
            li
              a(href="#")
                | Лежа на панцирнотвердой спине?
            li
              a(href="#")
                | Его многочисленные, убого тонкие по сравнению?
            li
              a(href="#")
                | Далеко-далеко за словесными горами в стране гласных?
            li
              a(href="#")
                | Великий Оксмокс предупреждал ее?
    //end base

    //begin info-text
    .info-text
      dl
        dt
          | TRIPENJOY
        dd
          | — это один из ярких проектов ГК «Pay.Travel»,
          | который объединяет продажу ключевых услуг в области путешествий в рамках единого масштабного on-line сервиса.
          | Все возможные сервисы для организации путешествий объединены в рамках единой платформы,
          | что позволяет максимально удобно и оперативно организовать свой отдых или бизнес-поездку.
      a(href="#").btn
       | Узнать больше
    //end info-text