extend layout/layout

block title
  title My Profile

block content
  .head
    .l-center
      h1.title
        | Мои заказы

  .l-center
    .l-two-col.l-two-col_mod
      .col1
        .profile
          .head.head_small
            .title
              | Персональные данные

          .select-sex
            label.select-sex__radio-btn
              input(type="radio", name="sex", checked)
              i.ico.ico_male
            label.select-sex__radio-btn
              input(type="radio", name="sex")
              i.ico.ico_female
            label.select-sex__radio-btn
              input(type="radio", name="sex")
              i.ico.ico_kid

          .input.input_simple
            span.input__label
              | Фамилия:
            input(type="text")

          .input.input_simple
            span.input__label
              | Имя:
            input(type="text")

          .input.input_simple
            span.input__label
              | Отчество:
            input(type="text")

          .input.input_simple.input_multiple
            span.input__label
              | Дата рождения:
            input(type="text")
            input(type="text")
            input(type="text")

          .contact-data
            .contact-data__email
              .input.input_simple
                span.input__label
                  | E-mail:
                input(type="text")
            .contact-data__country-code
              .input.input_simple
                span.input__label
                  | Код страны:
                .select
                  span.select__value
                  ul.select__drop
                    - var i = 1
                    each item in ['+001','+002','+003']
                      li(data-option=i++)= item
            .contact-data__phone
              .input.input_simple
                span.input__label
                  | Номер телефона:
                input(type="text")

          .head.head_small
            .title
              | Ваш документ

          .profile__document
            span.input__label
              | Документ:
            label.radio
              input(type="radio", name="doc", checked)
              span заграничный
            br
            label.radio
              input(type="radio", name="doc")
              span общенациональный
            br
            label.radio
              input(type="radio", name="doc")
              span свидетельство

          .input.input_simple
            span.input__label
              | Гражданство:
            .select
              span.select__value
              ul.select__drop
                - var i = 1
                each item in ['гражданство 1','гражданство 2','гражданство 3']
                  li(data-option=i++)= item

          .profile__document-data
            .input.input_simple
              span.input__label
                | Серия:
              input(type="text")
            .input.input_simple
              span.input__label
                | Номер:
              input(type="text")

          .input.input_simple.input_multiple
              span.input__label
                | Срок действия:
              input(type="text")
              input(type="text")
              input(type="text")

        .info-text
          label.checkbox
            input(type="checkbox")
            span
              | Я хочу получать информацию о специальных акциях на сайте
          label.checkbox
            input(type="checkbox")
            span
              | Я принимаю <a href="#">соглашение</a>, условия возврата и обмена, а также обработки моих персональных данных
          button.btn
            | Сохранить


      .col2
        .head.head_small
          .title
            | Личный кабинет
        ul.navigation
          li
            a(href="#")
              | Мои заказы
          li.is-active
            a(href="#")
              | Мой профиль
          li
            a(href="#")
              | Изменить пароль
        .banner
          img(src="img/banner.jpg", alt="")