extend layout/layout2

block title
    title Searching Ticket

block content
  .l-center

    button.btn.js-popup-show(data-popup="searching", style="margin-bottom: 20px")
      | вызвать попап

    .wrap
      //begin ticket
      .ticket
        .ticket__head
          i.ico.ico_clock
          | Самый удобный
        .ticket__row
          i.ico.ico_plane
          .ticket__date
            | <b>26 сентября</b>, пятница
          .ticket__flight
            | Рейс <b>AF-1745</b>, эконом
        .ticket__row
          .ticket__duration
            | 3 ч 55 мин
          .ticket__departure
            span.ticket__label
              | Вылет
            span.ticket__time
              | 19:45
            span.ticket__location
              | <b>Шереметьево,</b> Москва
          .ticket__arrival
            span.ticket__label
              | Прибытие 26 сентября
            span.ticket__time
              | 21:40
            span.ticket__location
              | <b>Шарль-де-Голь,</b> Париж
        .ticket__info
          img(src="img/af.png", alt="")
          | <b>Air France</b>, <span>AIRBUS A321</span>, <em>мест 3+</em>
        .ticket__row
          i.ico.ico_plane2
          .ticket__date
            | <b>26 сентября</b>, пятница
          .ticket__flight
            | Рейс <b>AF-1745</b>, эконом
        .ticket__row
          .ticket__duration
            | 3 ч 55 мин
          .ticket__departure
            span.ticket__label
              | Вылет
            span.ticket__time
              | 19:45
            span.ticket__location
              | <b>Шереметьево,</b> Москва
          .ticket__arrival
            span.ticket__label
              | Прибытие 26 сентября
            span.ticket__time
              | 21:40
            span.ticket__location
              | <b>Шарль-де-Голь,</b> Париж
        .ticket__info
          img(src="img/af.png", alt="")
          | <b>Air France</b>, <span>AIRBUS A321</span>, <em>мест 3+</em>
        .ticket__bottom
          span.ticket__price
            | Итого: <b>30 000 руб.</b>
          button.btn
            | Купить
      //end ticket
      //begin ticket
      .ticket
        .ticket__head.ticket__head_orange
          i.ico.ico_percent
          | Самый Дешевый
        .ticket__row
          i.ico.ico_plane
          .ticket__date
            | <b>26 сентября</b>, пятница
          .ticket__flight
            | Рейс <b>AF-1745</b>, эконом
        .ticket__row
          .ticket__duration
            | 3 ч 55 мин
          .ticket__departure
            span.ticket__label
              | Вылет
            span.ticket__time
              | 19:45
            span.ticket__location
              | <b>Шереметьево,</b> Москва
          .ticket__arrival
            span.ticket__label
              | Прибытие 26 сентября
            span.ticket__time
              | 21:40
            span.ticket__location
              | <b>Шарль-де-Голь,</b> Париж
        .ticket__info
          img(src="img/af.png", alt="")
          | <b>Air France</b>, <span>AIRBUS A321</span>, <em>мест 3+</em>
        .ticket__row
          i.ico.ico_plane2
          .ticket__date
            | <b>26 сентября</b>, пятница
          .ticket__flight
            | Рейс <b>AF-1745</b>, эконом
        .ticket__row
          .ticket__duration
            | 3 ч 55 мин
          .ticket__departure
            span.ticket__label
              | Вылет
            span.ticket__time
              | 19:45
            span.ticket__location
              | <b>Шереметьево,</b> Москва
          .ticket__arrival
            span.ticket__label
              | Прибытие 26 сентября
            span.ticket__time
              | 21:40
            span.ticket__location
              | <b>Шарль-де-Голь,</b> Париж
        .ticket__info
          img(src="img/af.png", alt="")
          | <b>Air France</b>, <span>AIRBUS A321</span>, <em>мест 3+</em>
        .ticket__bottom
          span.ticket__price
            | Итого: <b>12 000 руб.</b>
          button.btn
            | Купить
      //end ticket

  .head
    .l-center
      h3.title
        | Отсортировать варианты перелёта по:

  .l-center
    //begin sort
    .sort
      .wrap-round
        ul.sort__list
          li.is-active
            a(href="#")
              | Стоимости
          li
            a(href="#")
              | Продолжительности
          li
            a(href="#")
              | Времени вылета

      .select
        span.select__value
          | Авиакомпания
        ul.select__drop
          - var i = 1
          each item in ['Любой', 'Бизнесс', 'Эконом']
            li(data-option=i++)= item

      .wrap-round
        ul.sort__list
          li.is-active
            a(href="#")
              | Все рейсы
          li
            a(href="#")
              | Прямые
          li
            a(href="#")
              | Чартерные
    //end sort

    //begin ticket-list
    .ticket-list
      //begin ticket
      .ticket.ticket_wide
        .ticket__row
          i.ico.ico_plane
          .ticket__date
            | <b>26 сентября</b>, пятница
        .ticket__row
          .ticket__duration
            | 3 ч 55 мин
            .ticket__duration-extra
              | Через Кишинев
              span.ticket__label
                | 6ч 20м
          .ticket__departure
            span.ticket__label
              | Вылет
            span.ticket__time
              | 19:45
            span.ticket__location
              | <b>Шереметьево,</b> Москва
          .ticket__arrival
            span.ticket__label
              | Прибытие 26 сентября
            span.ticket__time
              | 21:40
            span.ticket__location
              | <b>Шарль-де-Голь,</b> Париж
          .ticket__flight
            span.ticket__label
              | Рейс
            | <b>AF-1745</b>, эконом
          .ticket__info
            span.ticket__label
              | Перевозчик
            img(src="img/af.png", alt="")
            | <b>Air France</b>, <span>AIRBUS A321</span>, <em>мест 3+</em>
        .ticket__row
          i.ico.ico_plane2
          .ticket__date
            | <b>26 сентября</b>, пятница
        .ticket__row
          .ticket__duration
            | 3 ч 55 мин
            .ticket__duration-extra
              | Через Кишинев
              span.ticket__label
                | 6ч 20м
          .ticket__departure
            span.ticket__label
              | Вылет
            span.ticket__time
              | 19:45
            span.ticket__location
              | <b>Шереметьево,</b> Москва
          .ticket__arrival
            span.ticket__label
              | Прибытие 26 сентября
            span.ticket__time
              | 21:40
            br
            span.ticket__location
              | <b>Шарль-де-Голь,</b> Париж
          .ticket__flight
            span.ticket__label
              | Рейс
            |<b>AF-1745</b>, эконом
          .ticket__info
            span.ticket__label
              | Перевозчик
            img(src="img/af.png", alt="")
            | <b>Air France</b>, <span>AIRBUS A321</span>, <em>мест 3+</em>
        .ticket__bottom
          .ticket__bottom-in
            .ticket__price
              | <b>30 000</b> <sub>руб.</sub>
            button.btn
              | Купить
            .ticket__return-flight
              span.ticket__label
                | Обратных <br> рейсов:
              | 2
            button.btn.btn_blue
              | Выбрать
      //end ticket
      //begin ticket
      .ticket.ticket_wide
        .ticket__row
          i.ico.ico_plane
          .ticket__date
            | <b>26 сентября</b>, пятница
        .ticket__row
          .ticket__duration
            | 3 ч 55 мин
            .ticket__duration-extra
              | Через Кишинев
              span.ticket__label
                | 6ч 20м
          .ticket__departure
            span.ticket__label
              | Вылет
            span.ticket__time
              | 19:45
            span.ticket__location
              | <b>Шереметьево,</b> Москва
          .ticket__arrival
            span.ticket__label
              | Прибытие 26 сентября
            span.ticket__time
              | 21:40
            span.ticket__location
              | <b>Шарль-де-Голь,</b> Париж
          .ticket__flight
            span.ticket__label
              | Рейс
            | <b>AF-1745</b>, эконом
          .ticket__info
            span.ticket__label
              | Перевозчик
            img(src="img/af.png", alt="")
            | <b>Air France</b>, <span>AIRBUS A321</span>, <em>мест 3+</em>
        .ticket__row
          i.ico.ico_plane2
          .ticket__date
            | <b>26 сентября</b>, пятница
        .ticket__row
          .ticket__duration
            | 3 ч 55 мин
            .ticket__duration-extra
              | Через Кишинев
              span.ticket__label
                | 6ч 20м
          .ticket__departure
            span.ticket__label
              | Вылет
            span.ticket__time
              | 19:45
            span.ticket__location
              | <b>Шереметьево,</b> Москва
          .ticket__arrival
            span.ticket__label
              | Прибытие 26 сентября
            span.ticket__time
              | 21:40
            br
            span.ticket__location
              | <b>Шарль-де-Голь,</b> Париж
          .ticket__flight
            span.ticket__label
              | Рейс
            |<b>AF-1745</b>, эконом
          .ticket__info
            span.ticket__label
              | Перевозчик
            img(src="img/af.png", alt="")
            | <b>Air France</b>, <span>AIRBUS A321</span>, <em>мест 3+</em>
        .ticket__bottom
          .ticket__bottom-in
            .ticket__price
              | <b>16 000</b> <sub>руб.</sub>
            button.btn
              | Купить
      //end ticket
      //begin ticket
      .ticket.ticket_wide
        .ticket__row
          i.ico.ico_plane
          .ticket__date
            | <b>26 сентября</b>, пятница
        .ticket__row
          .ticket__duration
            | 3 ч 55 мин
            .ticket__duration-extra
              | Через Кишинев
              span.ticket__label
                | 6ч 20м
          .ticket__departure
            span.ticket__label
              | Вылет
            span.ticket__time
              | 19:45
            span.ticket__location
              | <b>Шереметьево,</b> Москва
          .ticket__arrival
            span.ticket__label
              | Прибытие 26 сентября
            span.ticket__time
              | 21:40
            span.ticket__location
              | <b>Шарль-де-Голь,</b> Париж
          .ticket__flight
            span.ticket__label
              | Рейс
            | <b>AF-1745</b>, эконом
          .ticket__info
            span.ticket__label
              | Перевозчик
            img(src="img/af.png", alt="")
            | <b>Air France</b>, <span>AIRBUS A321</span>, <em>мест 3+</em>
        .ticket__row
          i.ico.ico_plane2
          .ticket__date
            | <b>26 сентября</b>, пятница
        .ticket__row
          .ticket__duration
            | 3 ч 55 мин
            .ticket__duration-extra
              | Через Кишинев
              span.ticket__label
                | 6ч 20м
          .ticket__departure
            span.ticket__label
              | Вылет
            span.ticket__time
              | 19:45
            span.ticket__location
              | <b>Шереметьево,</b> Москва
          .ticket__arrival
            span.ticket__label
              | Прибытие 26 сентября
            span.ticket__time
              | 21:40
            br
            span.ticket__location
              | <b>Шарль-де-Голь,</b> Париж
          .ticket__flight
            span.ticket__label
              | Рейс
            |<b>AF-1745</b>, эконом
          .ticket__info
            span.ticket__label
              | Перевозчик
            img(src="img/af.png", alt="")
            | <b>Air France</b>, <span>AIRBUS A321</span>, <em>мест 3+</em>
        .ticket__bottom
          .ticket__bottom-in
            .ticket__price
              | <b>30 000</b> <sub>руб.</sub>
            button.btn
              | Купить
            .ticket__return-flight
              span.ticket__label
                | Обратных <br> рейсов:
              | 33
            button.btn.btn_blue
              | Выбрать
      //end ticket
      //begin ticket
      .ticket.ticket_wide
        .ticket__row
          i.ico.ico_plane
          .ticket__date
            | <b>26 сентября</b>, пятница
        .ticket__row
          .ticket__duration
            | 3 ч 55 мин
            .ticket__duration-extra
              | Через Кишинев
              span.ticket__label
                | 6ч 20м
          .ticket__departure
            span.ticket__label
              | Вылет
            span.ticket__time
              | 19:45
            span.ticket__location
              | <b>Шереметьево,</b> Москва
          .ticket__arrival
            span.ticket__label
              | Прибытие 26 сентября
            span.ticket__time
              | 21:40
            span.ticket__location
              | <b>Шарль-де-Голь,</b> Париж
          .ticket__flight
            span.ticket__label
              | Рейс
            | <b>AF-1745</b>, эконом
          .ticket__info
            span.ticket__label
              | Перевозчик
            img(src="img/af.png", alt="")
            | <b>Air France</b>, <span>AIRBUS A321</span>, <em>мест 3+</em>
        .ticket__row
          i.ico.ico_plane2
          .ticket__date
            | <b>26 сентября</b>, пятница
        .ticket__row
          .ticket__duration
            | 3 ч 55 мин
            .ticket__duration-extra
              | Через Кишинев
              span.ticket__label
                | 6ч 20м
          .ticket__departure
            span.ticket__label
              | Вылет
            span.ticket__time
              | 19:45
            span.ticket__location
              | <b>Шереметьево,</b> Москва
          .ticket__arrival
            span.ticket__label
              | Прибытие 26 сентября
            span.ticket__time
              | 21:40
            br
            span.ticket__location
              | <b>Шарль-де-Голь,</b> Париж
          .ticket__flight
            span.ticket__label
              | Рейс
            |<b>AF-1745</b>, эконом
          .ticket__info
            span.ticket__label
              | Перевозчик
            img(src="img/af.png", alt="")
            | <b>Air France</b>, <span>AIRBUS A321</span>, <em>мест 3+</em>
        .ticket__bottom
          .ticket__bottom-in
            .ticket__price
              | <b>16 000</b> <sub>руб.</sub>
            button.btn
              | Купить
            .ticket__return-flight
              span.ticket__label
                | Обратных <br> рейсов:
              | 4
            button.btn.btn_blue
              | Выбрать
      //end ticket
      .spinner
    //end ticket-list

block popup
  #searching.popup.popup_clean
    .popup__in
      //begin flip-text
      .flip-text
        .char
          | и
          .char__top
            span и
          .char__bottom
            span и
        .char
          | д
          .char__top
            span д
          .char__bottom
            span д
        .char
          | е
          .char__top
            span е
          .char__bottom
            span е
        .char
          | т
          .char__top
            span т
          .char__bottom
            span т

        .char
          .char__top
          .char__bottom

        .char
          | п
          .char__top
            span п
          .char__bottom
            span п
        .char
          | о
          .char__top
            span о
          .char__bottom
            span о
        .char
          | и
          .char__top
            span и
          .char__bottom
            span и
        .char
          | с
          .char__top
            span с
          .char__bottom
            span с
        .char
          | к
          .char__top
            span к
          .char__bottom
            span к
        .char
          | ...
          .char__top
            span ...
          .char__bottom
            span ...
      //end flip-text

      //begin upload
      .load
        .load__level-wrap
          .load__level(style="width: 55%")
        span.load__value
          | 55%
      //end upload
