extend layout/layout2

block title
    title Tickets Result

block content
  .l-center
    .top-result
      //begin ticket
      .ticket
        .ticket__head
          i.ico.ico_clock
          | Самый удобный
        .ticket__row
          i.ico.ico_plane
          .ticket__date
            | <b>26 сентября</b>, пятница
          .ticket__flight
            | Рейс <b>AF-1745</b>, эконом
        .ticket__row
          .ticket__duration
            | 3 ч 55 мин
          .ticket__departure
            span.ticket__label
              | Вылет
            span.ticket__time
              | 19:45
            span.ticket__location
              | <b>Шереметьево,</b> Москва
          .ticket__arrival
            span.ticket__label
              | Прибытие 26 сентября
            span.ticket__time
              | 21:40
            span.ticket__location
              | <b>Шарль-де-Голь,</b> Париж
        .ticket__info
          img(src="img/af.png", alt="")
          | <b>Air France</b>, <span>AIRBUS A321</span>, <em>мест 3+</em>
        .ticket__row
          i.ico.ico_plane2
          .ticket__date
            | <b>26 сентября</b>, пятница
          .ticket__flight
            | Рейс <b>AF-1745</b>, эконом
        .ticket__row
          .ticket__duration
            | 3 ч 55 мин
          .ticket__departure
            span.ticket__label
              | Вылет
            span.ticket__time
              | 19:45
            span.ticket__location
              | <b>Шереметьево,</b> Москва
          .ticket__arrival
            span.ticket__label
              | Прибытие 26 сентября
            span.ticket__time
              | 21:40
            span.ticket__location
              | <b>Шарль-де-Голь,</b> Париж
        .ticket__info
          img(src="img/af.png", alt="")
          | <b>Air France</b>, <span>AIRBUS A321</span>, <em>мест 3+</em>
        .ticket__bottom
          span.ticket__price
            | Итого: <b>30 000 руб.</b>
          button.btn
            | Купить
      //end ticket
      //begin ticket
      .ticket
        .ticket__head.ticket__head_orange
          i.ico.ico_percent
          | Самый Дешевый
        .ticket__row
          i.ico.ico_plane
          .ticket__date
            | <b>26 сентября</b>, пятница
          .ticket__flight
            | Рейс <b>AF-1745</b>, эконом
        .ticket__row
          .ticket__duration
            | 3 ч 55 мин
          .ticket__departure
            span.ticket__label
              | Вылет
            span.ticket__time
              | 19:45
            span.ticket__location
              | <b>Шереметьево,</b> Москва
          .ticket__arrival
            span.ticket__label
              | Прибытие 26 сентября
            span.ticket__time
              | 21:40
            span.ticket__location
              | <b>Шарль-де-Голь,</b> Париж
        .ticket__info
          img(src="img/af.png", alt="")
          | <b>Air France</b>, <span>AIRBUS A321</span>, <em>мест 3+</em>
        .ticket__row
          i.ico.ico_plane2
          .ticket__date
            | <b>26 сентября</b>, пятница
          .ticket__flight
            | Рейс <b>AF-1745</b>, эконом
        .ticket__row
          .ticket__duration
            | 3 ч 55 мин
          .ticket__departure
            span.ticket__label
              | Вылет
            span.ticket__time
              | 19:45
            span.ticket__location
              | <b>Шереметьево,</b> Москва
          .ticket__arrival
            span.ticket__label
              | Прибытие 26 сентября
            span.ticket__time
              | 21:40
            span.ticket__location
              | <b>Шарль-де-Голь,</b> Париж
        .ticket__info
          img(src="img/af.png", alt="")
          | <b>Air France</b>, <span>AIRBUS A321</span>, <em>мест 3+</em>
        .ticket__bottom
          span.ticket__price
            | Итого: <b>12 000 руб.</b>
          button.btn
            | Купить
      //end ticket

  .head
    .l-center
      h3.title
        | Отсортировать варианты перелёта по:

  .l-center
    //begin sort
    .sort
      .wrap-round
        ul.sort__list
          li.is-active
            a(href="#")
              | Стоимости
          li
            a(href="#")
              | Продолжительности
          li
            a(href="#")
              | Времени вылета

      .select
        span.select__value
          | Авиакомпания
        ul.select__drop
          li
            a(href="#", data-option="1") Любой
          li
            a(href="#", data-option="2") Бизнесс
          li
            a(href="#", data-option="3") Эконом


      .wrap-round
        ul.sort__list
          li.is-active
            a(href="#")
              | Все рейсы
          li
            a(href="#")
              | Прямые
          li
            a(href="#")
              | Чартерные
    //end sort

    //begin ticket-list
    .ticket-list
      //begin ticket
      .ticket.ticket_wide
        .ticket__row
          i.ico.ico_plane
          .ticket__date
            | <b>26 сентября</b>, пятница
        .ticket__row
          .ticket__duration
            | 3 ч 55 мин
            .ticket__duration-extra
              | Через Кишинев
              span.ticket__label
                | 6ч 20м
          .ticket__departure
            span.ticket__label
              | Вылет
            span.ticket__time
              | 19:45
            span.ticket__location
              | <b>Шереметьево,</b> Москва
          .ticket__arrival
            span.ticket__label
              | Прибытие 26 сентября
            span.ticket__time
              | 21:40
            span.ticket__location
              | <b>Шарль-де-Голь,</b> Париж
          .ticket__flight
            span.ticket__label
              | Рейс
            | <b>AF-1745</b>, эконом
          .ticket__info
            span.ticket__label
              | Перевозчик
            img(src="img/af.png", alt="")
            | <b>Air France</b>, <span>AIRBUS A321</span>, <em>мест 3+</em>
        .ticket__row
          i.ico.ico_plane2
          .ticket__date
            | <b>26 сентября</b>, пятница
        .ticket__row
          .ticket__duration
            | 3 ч 55 мин
            .ticket__duration-extra
              | Через Кишинев
              span.ticket__label
                | 6ч 20м
          .ticket__departure
            span.ticket__label
              | Вылет
            span.ticket__time
              | 19:45
            span.ticket__location
              | <b>Шереметьево,</b> Москва
          .ticket__arrival
            span.ticket__label
              | Прибытие 26 сентября
            span.ticket__time
              | 21:40
            br
            span.ticket__location
              | <b>Шарль-де-Голь,</b> Париж
          .ticket__flight
            span.ticket__label
              | Рейс
            |<b>AF-1745</b>, эконом
          .ticket__info
            span.ticket__label
              | Перевозчик
            img(src="img/af.png", alt="")
            | <b>Air France</b>, <span>AIRBUS A321</span>, <em>мест 3+</em>
        .ticket__bottom
          .ticket__bottom-in
            .ticket__price
              | <b>30 000</b> <sub>руб.</sub>
            button.btn
              | Купить
            .ticket__return-flight
              span.ticket__label
                | Обратных <br> рейсов:
              | 2
            button.btn.btn_blue
              | Выбрать
      //end ticket
      //begin ticket
      .ticket.ticket_wide
        .ticket__row
          i.ico.ico_plane
          .ticket__date
            | <b>26 сентября</b>, пятница
        .ticket__row
          .ticket__duration
            | 3 ч 55 мин
            .ticket__duration-extra
              | Через Кишинев
              span.ticket__label
                | 6ч 20м
          .ticket__departure
            span.ticket__label
              | Вылет
            span.ticket__time
              | 19:45
            span.ticket__location
              | <b>Шереметьево,</b> Москва
          .ticket__arrival
            span.ticket__label
              | Прибытие 26 сентября
            span.ticket__time
              | 21:40
            span.ticket__location
              | <b>Шарль-де-Голь,</b> Париж
          .ticket__flight
            span.ticket__label
              | Рейс
            | <b>AF-1745</b>, эконом
          .ticket__info
            span.ticket__label
              | Перевозчик
            img(src="img/af.png", alt="")
            | <b>Air France</b>, <span>AIRBUS A321</span>, <em>мест 3+</em>
        .ticket__row
          i.ico.ico_plane2
          .ticket__date
            | <b>26 сентября</b>, пятница
        .ticket__row
          .ticket__duration
            | 3 ч 55 мин
            .ticket__duration-extra
              | Через Кишинев
              span.ticket__label
                | 6ч 20м
          .ticket__departure
            span.ticket__label
              | Вылет
            span.ticket__time
              | 19:45
            span.ticket__location
              | <b>Шереметьево,</b> Москва
          .ticket__arrival
            span.ticket__label
              | Прибытие 26 сентября
            span.ticket__time
              | 21:40
            br
            span.ticket__location
              | <b>Шарль-де-Голь,</b> Париж
          .ticket__flight
            span.ticket__label
              | Рейс
            |<b>AF-1745</b>, эконом
          .ticket__info
            span.ticket__label
              | Перевозчик
            img(src="img/af.png", alt="")
            | <b>Air France</b>, <span>AIRBUS A321</span>, <em>мест 3+</em>
        .ticket__bottom
          .ticket__bottom-in
            .ticket__price
              | <b>16 000</b> <sub>руб.</sub>
            button.btn
              | Купить
      //end ticket
      //begin ticket
      .ticket.ticket_wide
        .ticket__row
          i.ico.ico_plane
          .ticket__date
            | <b>26 сентября</b>, пятница
        .ticket__row
          .ticket__duration
            | 3 ч 55 мин
            .ticket__duration-extra
              | Через Кишинев
              span.ticket__label
                | 6ч 20м
          .ticket__departure
            span.ticket__label
              | Вылет
            span.ticket__time
              | 19:45
            span.ticket__location
              | <b>Шереметьево,</b> Москва
          .ticket__arrival
            span.ticket__label
              | Прибытие 26 сентября
            span.ticket__time
              | 21:40
            span.ticket__location
              | <b>Шарль-де-Голь,</b> Париж
          .ticket__flight
            span.ticket__label
              | Рейс
            | <b>AF-1745</b>, эконом
          .ticket__info
            span.ticket__label
              | Перевозчик
            img(src="img/af.png", alt="")
            | <b>Air France</b>, <span>AIRBUS A321</span>, <em>мест 3+</em>
        .ticket__row
          i.ico.ico_plane2
          .ticket__date
            | <b>26 сентября</b>, пятница
        .ticket__row
          .ticket__duration
            | 3 ч 55 мин
            .ticket__duration-extra
              | Через Кишинев
              span.ticket__label
                | 6ч 20м
          .ticket__departure
            span.ticket__label
              | Вылет
            span.ticket__time
              | 19:45
            span.ticket__location
              | <b>Шереметьево,</b> Москва
          .ticket__arrival
            span.ticket__label
              | Прибытие 26 сентября
            span.ticket__time
              | 21:40
            br
            span.ticket__location
              | <b>Шарль-де-Голь,</b> Париж
          .ticket__flight
            span.ticket__label
              | Рейс
            |<b>AF-1745</b>, эконом
          .ticket__info
            span.ticket__label
              | Перевозчик
            img(src="img/af.png", alt="")
            | <b>Air France</b>, <span>AIRBUS A321</span>, <em>мест 3+</em>
        .ticket__bottom
          .ticket__bottom-in
            .ticket__price
              | <b>30 000</b> <sub>руб.</sub>
            button.btn
              | Купить
            .ticket__return-flight
              span.ticket__label
                | Обратных <br> рейсов:
              | 33
            button.btn.btn_blue
              | Выбрать
      //end ticket
      //begin ticket
      .ticket.ticket_wide
        .ticket__row
          i.ico.ico_plane
          .ticket__date
            | <b>26 сентября</b>, пятница
        .ticket__row
          .ticket__duration
            | 3 ч 55 мин
            .ticket__duration-extra
              | Через Кишинев
              span.ticket__label
                | 6ч 20м
          .ticket__departure
            span.ticket__label
              | Вылет
            span.ticket__time
              | 19:45
            span.ticket__location
              | <b>Шереметьево,</b> Москва
          .ticket__arrival
            span.ticket__label
              | Прибытие 26 сентября
            span.ticket__time
              | 21:40
            span.ticket__location
              | <b>Шарль-де-Голь,</b> Париж
          .ticket__flight
            span.ticket__label
              | Рейс
            | <b>AF-1745</b>, эконом
          .ticket__info
            span.ticket__label
              | Перевозчик
            img(src="img/af.png", alt="")
            | <b>Air France</b>, <span>AIRBUS A321</span>, <em>мест 3+</em>
        .ticket__row
          i.ico.ico_plane2
          .ticket__date
            | <b>26 сентября</b>, пятница
        .ticket__row
          .ticket__duration
            | 3 ч 55 мин
            .ticket__duration-extra
              | Через Кишинев
              span.ticket__label
                | 6ч 20м
          .ticket__departure
            span.ticket__label
              | Вылет
            span.ticket__time
              | 19:45
            span.ticket__location
              | <b>Шереметьево,</b> Москва
          .ticket__arrival
            span.ticket__label
              | Прибытие 26 сентября
            span.ticket__time
              | 21:40
            br
            span.ticket__location
              | <b>Шарль-де-Голь,</b> Париж
          .ticket__flight
            span.ticket__label
              | Рейс
            |<b>AF-1745</b>, эконом
          .ticket__info
            span.ticket__label
              | Перевозчик
            img(src="img/af.png", alt="")
            | <b>Air France</b>, <span>AIRBUS A321</span>, <em>мест 3+</em>
        .ticket__bottom
          .ticket__bottom-in
            .ticket__price
              | <b>16 000</b> <sub>руб.</sub>
            button.btn
              | Купить
            .ticket__return-flight
              span.ticket__label
                | Обратных <br> рейсов:
              | 4
            button.btn.btn_blue
              | Выбрать
      //end ticket
    //end ticket-list

