extend layout/layout2

block title
    title Tickets Result

block content
  .l-center
    .top-result
      //begin ticket
      .ticket
        .ticket__head
          i.ico.ico_clock
          | Самый удобный
        .ticket__row
          i.ico.ico_plane
          .ticket__date
            | <b>26 сентября</b>, пятница
          .ticket__flight
            | Рейс <b>AF-1745</b>, эконом
        .ticket__row
          .ticket__duration
            | 3 ч 55 мин
          .ticket__departure
            span.ticket__label
              | Вылет
            span.ticket__time
              | 19:45
            span.ticket__location
              | <b>Шереметьево,</b> Москва
          .ticket__arrival
            span.ticket__label
              | Прибытие 26 сентября
            span.ticket__time
              | 21:40
            span.ticket__location
              | <b>Шарль-де-Голь,</b> Париж
        .ticket__info
          img(src="img/af.png", alt="")
          | <b>Air France</b>, <span>AIRBUS A321</span>, <em>мест 3+</em>
        .ticket__row
          i.ico.ico_plane2
          .ticket__date
            | <b>26 сентября</b>, пятница
          .ticket__flight
            | Рейс <b>AF-1745</b>, эконом
        .ticket__row
          .ticket__duration
            | 3 ч 55 мин
          .ticket__departure
            span.ticket__label
              | Вылет
            span.ticket__time
              | 19:45
            span.ticket__location
              | <b>Шереметьево,</b> Москва
          .ticket__arrival
            span.ticket__label
              | Прибытие 26 сентября
            span.ticket__time
              | 21:40
            span.ticket__location
              | <b>Шарль-де-Голь,</b> Париж
        .ticket__info
          img(src="img/af.png", alt="")
          | <b>Air France</b>, <span>AIRBUS A321</span>, <em>мест 3+</em>
        .ticket__bottom
          span.ticket__price
            | Итого: <b>30 000 руб.</b>
          button.btn
            | Купить
      //end ticket
      //begin ticket
      .ticket
        .ticket__head.ticket__head_orange
          i.ico.ico_percent
          | Самый Дешевый
        .ticket__row
          i.ico.ico_plane
          .ticket__date
            | <b>26 сентября</b>, пятница
          .ticket__flight
            | Рейс <b>AF-1745</b>, эконом
        .ticket__row
          .ticket__duration
            | 3 ч 55 мин
          .ticket__departure
            span.ticket__label
              | Вылет
            span.ticket__time
              | 19:45
            span.ticket__location
              | <b>Шереметьево,</b> Москва
          .ticket__arrival
            span.ticket__label
              | Прибытие 26 сентября
            span.ticket__time
              | 21:40
            span.ticket__location
              | <b>Шарль-де-Голь,</b> Париж
        .ticket__info
          img(src="img/af.png", alt="")
          | <b>Air France</b>, <span>AIRBUS A321</span>, <em>мест 3+</em>
        .ticket__row
          i.ico.ico_plane2
          .ticket__date
            | <b>26 сентября</b>, пятница
          .ticket__flight
            | Рейс <b>AF-1745</b>, эконом
        .ticket__row
          .ticket__duration
            | 3 ч 55 мин
          .ticket__departure
            span.ticket__label
              | Вылет
            span.ticket__time
              | 19:45
            span.ticket__location
              | <b>Шереметьево,</b> Москва
          .ticket__arrival
            span.ticket__label
              | Прибытие 26 сентября
            span.ticket__time
              | 21:40
            span.ticket__location
              | <b>Шарль-де-Голь,</b> Париж
        .ticket__info
          img(src="img/af.png", alt="")
          | <b>Air France</b>, <span>AIRBUS A321</span>, <em>мест 3+</em>
        .ticket__bottom
          span.ticket__price
            | Итого: <b>12 000 руб.</b>
          button.btn
            | Купить
      //end ticket
