footer.footer
  //begin footer__main
  .l-center
    .footer__main
      ul.footer__list
        li
          | Личный кабинет
        li
          a(href="#")
            | Авиабилеты онлайн
        li
          a(href="#")
            | Ж/д билеты онлайн
        li
          a(href="#")
            | Билеты на автобус
        li
          a(href="#")
            | Бронирование отелей
        li
          a(href="#")
            | Страхование онлайн

      ul.footer__list
        li
          | Справка
        li
          a(href="#")
            | FAQ по авиабилетам
        li
          a(href="#")
            | Расписание самолётов
        li
          a(href="#")
            | Справочник аэропортов
        li
          a(href="#")
            | Рейтинг авиакомпаний
        li
          a(href="#")
            | Отдых и путешествия
        li
          a(href="#")
            | Техническая справка

      ul.footer__list
        li
          | TripEnjoy
        li
          a(href="#")
            | О компании
        li
          a(href="#")
            | Для агентств
        li
          a(href="#")
            | Служба поддержки
        li
          a(href="#")
            | Форум
        li
          a(href="#")
            | Вакансии

      .footer__lang
        a.is-active(href="#")
          | rus
        a(href="#")
          | eng

      .footer__payments
        img(src="img/cards.png", alt="")
  //end footer__main

  //begin footer__bottom
  .footer__bottom
    .l-center
      .footer__copy
        span
          | 2008-2014 TripEnjoy
        br
        | Онлайн бронирование.

      .footer__phone
        a(href="tel:88007003388")
          | 8 800 700 33 88
        br
        | Горячая линия:
        br
        | c 9:00 до 21:00 по Москве

      .footer__subscribe
        span
          | Подписаться на рассылку спецпредложений
        .input
          input(type="text", placeholder="Ваш e-mail")
          i.ico.ico_mail
        a.btn(href="#")
          | Подписаться
  //end footer__bottom
