header.header
  //begin heade__top
  .header__top
    .l-center
      .header__top-right
        a.header__phone(href="tel:88007707477")
          i.ico.ico_phone
          | 8 800 770 7477
        a.header__user(href="#")
          i.icon.icon_user
          | Личный кабинет
      a.logo(href="index.html")
        | TripEnjoy
      nav.header__nav
        ul
          li.is-active
            a(href="#")
              | Авиабилеты
          li
            a(href="#")
              | Ж/Д билеты
          li
            a(href="#")
              | Отели
          li
            a(href="#")
              | Туры
  //end header__top

  //begin header__search
  .search
    .l-center
      .search__in
        .search__col1
          label.input
            input(type="text", placeholder="Откуда?")
            i.ico.ico_location
            .input__right
              span mow
              i.ico.ico_load
          label.input
            input(type="text", placeholder="Куда?")
            i.ico.ico_location
            .input__right
              span mow
              i.ico.ico_load

        .search__col2
          label.input.input_ico-right
            input(type="text", placeholder="Дата отъезда")
            i.ico.ico_calendar
          label.input.input_ico-right
            input(type="text", placeholder="Дата возврата")
            i.ico.ico_calendar

        .search__col2
          label.input.input_drop
            input(type="text", placeholder="Любой")
            i.ico.ico_star
            .input__arrow
          label.input.input_drop
            input(type="text", placeholder="1 человек")
            i.ico.ico_person
            .input__arrow

        button.btn
          | Поиск рейсов
  //end header__search
