header.header
  //begin header__top
  .header__top
    .l-center
      .header__top-right
        a.header__phone(href="tel:88007707477")
          i.ico.ico_phone
          | 8 800 770 7477
        a.header__user(href="#")
          i.ico.ico_user
          | Личный кабинет
      a.logo(href="index.html")
        | TripEnjoy
      nav.header__nav
        ul
          li
            a(href="#")
              | Авиабилеты
          li.is-active
            a(href="#")
              | Ж/Д билеты
          li
            a(href="#")
              | Отели
          li
            a(href="#")
              | Туры
  //end header__top
