//begin search-result
.search-result
  .l-center
    .search-result__from
      | Москва, Россия
    i.ico.ico_plane

    .search-result__to
      | Париж, Франция
      i.ico.ico_calendar
      | 19.09.2014
    i.ico.ico_plane

    .search-result__to
      | Париж, Франция
      i.ico.ico_calendar
      | 23.09.2014

    a.search-result__change(href="#")
      | Изменить условия поиска
//end search-result