//begin search-result
.search.search_result
  .l-center
    .search-result
      .search-result__from
        | Москва, Россия
      i.ico.ico_palm

      .search-result__to
        | Испания
        i.ico.ico_calendar
        | 19.09.2014

      .search-result__night
        i.ico.ico_moon
        | 10 ночей

      a.search-result__change(href="#")
        | Изменить условия поиска
//end search-result