//begin search
.search.iserror
  .l-center
    .search__in
      .search__error-msg.is-visible
        | укажите место прибытия
      .search__col1
        label.input
          input(type="text", placeholder="Откуда?")
          i.ico.ico_location
          .input__right
            span mow
            i.ico.ico_load
        label.input.is-error
          input(type="text", placeholder="Куда?")
          i.ico.ico_location
          .input__right
            span mow
            i.ico.ico_load

      .search__col2
        .switch
          .switch__top
          .switch__bottom
          .switch__slider
            .switch__slider-wrap
              .switch__slider-in
                .switch__top
                .switch__bottom

        label.input.input_ico-right
          input(type="text", placeholder="Дата отъезда")
          i.ico.ico_calendar
        label.input.input_ico-right
          input(type="text", placeholder="Дата возврата")
          i.ico.ico_calendar

      .search__col2
        .select.select_search
          i.ico.ico_star
          span.select__value
            | Любой
          ul.select__drop
            - var i = 1
            each item in ['Любой', 'Бизнесс', 'Эконом']
              li(data-option=i++)= item
        .select.select_search.select_wide.js-no
          i.ico.ico_person
          span.select__value
            | 1 человек
          ul.select__drop
            li
              .input-number
                strong Взрослые
                span (старше 12)
                input(type="text", value="0")
                .input-number__up
                .input-number__down
            li
              .input-number
                strong Дети
                span (2-12)
                input(type="text", value="0")
                .input-number__up
                .input-number__down
            li
              .input-number
                strong Младенцы
                span (0-2)
                input(type="text", value="0")
                .input-number__up
                .input-number__down

      button.btn
        | Поиск рейсов
//end search