//begin search
.search.search_mod
  .l-center
    .search__in
      .search__error-msg
        | укажите место прибытия
      .search__col1
        label.input
          input(type="text", placeholder="Город или название отеля")
          i.ico.ico_location
        .select.select_search.js-no
          i.ico.ico_person
          span.select__value
            | 1 человек
          ul.select__drop
            li
              .input-number
                strong Взрослые
                span (старше 12)
                input(type="text", value="0")
                .input-number__up
                .input-number__down
            li
              .input-number
                strong Дети
                span (2-12)
                input(type="text", value="0")
                .input-number__up
                .input-number__down
            li
              .input-number
                strong Младенцы
                span (0-2)
                input(type="text", value="0")
                .input-number__up
                .input-number__down

      .search__col2
        label.input.input_ico-right
          input(type="text", placeholder="Дата заезда")
          i.ico.ico_calendar
        .select.select_search
          i.ico.ico_star
          span.select__value
            | Класс отеля
          ul.select__drop
            - var i = 1
            each item in ['Любой', 'Бизнесс', 'Эконом']
              li(data-option=i++)= item

      .search__col2
        label.input.input_ico-right
          input(type="text", placeholder="Дата заезда")
          i.ico.ico_calendar

      button.btn
        | Поиск отеля
//end search