//begin search
.search.is-error
  .l-center
    .search__in
      .search__error-msg.is-visible
        | укажите место прибытия
      .search__col1
        label.input
          input(type="text", placeholder="Откуда?")
          i.ico.ico_location
          .input__right
            span mow
            i.ico.ico_load
        label.input.is-error
          input(type="text", placeholder="Куда?")
          i.ico.ico_location
          .input__right
            span mow
            i.ico.ico_load

      .search__col2
        label.input.input_ico-right
          input(type="text", placeholder="Дата отъезда")
          i.ico.ico_calendar
        label.input.input_ico-right
          input(type="text", placeholder="Дата возврата")
          i.ico.ico_calendar

      .search__col2
        label.input.input_drop
          input(type="text", placeholder="Любой")
          i.ico.ico_star
          .input__arrow
        label.input.input_drop
          input(type="text", placeholder="1 человек")
          i.ico.ico_person
          .input__arrow

      button.btn
        | Поиск рейсов
//end search